/* 
    Document   : mobile
    Created on : Oct 15, 2013, 1:51:27 PM
    Author     : NgocHai
    Description:
        Purpose of the stylesheet follows.
*/
@media screen and (max-width: 1366px){
    ul#thumb-list li{
        width: 335px !important;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .main-menu{
        margin-top: 5.3%;
    }
}
.header{
    height: 100px;
}
.main-menu{
    margin-top: 4.9%;
}
.main-menu li{
    margin-right: 20px;
}
.main-menu li a{
    font-size: 18px;        
}
.search-box{
    margin-top: 18px;
}
.social{
    margin-top: 35px;
}
.page-banner .page-decription p{
    font-size: 35px;
}
.title-page-boxmenu{
    padding-bottom: 10px;
}
.title-page-boxmenu .title-page{
    font-size: 40px;
}
.boxmenu, .boxmenumobile{
    font-size: 14px;
    height: 45px;
    margin-right: 20px;
    padding: 16px 0 0 20px;
}
.icon-boxmenu, .icon-boxmenu-mobile{
    top: 6px;
}
.menu-box, .menu-box-mobile{
    top: 43px;
}
.menu-box li, .menu-box-mobile li{
    margin: 10px 0;
}
.menu-box li a, .menu-box-mobile li a{
    font-size: 14px;
}
/****About Css *****/
.page-about-content{
    margin: 20px 0;
}
.page-about-content h3{
    font-size: 30px;
}
.page-about-content p{
    font-size: 18px;
}
.page-about-team{
    margin: 40px 0;
}
/**** End About Css *****/
/**** About Team Css *****/
.page-content-about-team .content-team-detail p{
    font-size: 18px;
}
.name-team{
    font-size: 18px;
}
/**** End About Team Css *****/
/**** Key Statistics Css *****/
.bg-center{
    font-size: 28px;
}
.gender{
    margin: 80px 0;
}
.gender .number-gender{
    margin-top: 30px;
}
.page-key-statistic h2{
    font-size: 150px;
}
.page-key-statistic .number-pass h2{
    font-size: 94px;
}
.gender p{
    font-size: 16px;
}
.school p{
    font-size: 15px;
}
/**** End Key Statistics Css *****/
/**** Project Css *****/
.showproject{
    width: 80%;
}
.project .content .box-project {
    margin-bottom: 40px;
    margin-right: 40px;
}
.project .intro p{
    font-size: 18px;
}
.box-project-detail h3{
    font-size: 30px;
}
.box-project-detail{
    margin: 40px 0;
}
.box-project-detail h4{
    font-size: 20px;
}
.box-project-detail p{
    font-size: 18px;
}
/**** End Project Css *****/
/**** News Css *****/
.box-new h3 a{
    font-size: 22px;
}
.box-new p{
    font-size: 14px;
}
.title-feature-new p{
    font-size: 14px;
}
.news-detail h3 a{
    font-size: 30px;
}
/**** End News Css *****/
/**** Get Involve Css *****/
.btn_vol1,.btn_vol2{
    width: 305px;
}
.btn_vol1{
    right: 360px;
}
.btn_vol2{
    right: 20px;
}
.involve1 h2, .involve2 h2,.involve3 h2{
    font-size: 50px;
}
.involve1 .intro p,.involve3 .intro p{
    font-size: 24px;
}
.involve2 h3{
    font-size: 80px;
}
.involve2 p,.involve3 p{
    font-size: 20px;
}
.btn_vol1_small,.btn_vol2_small{
    width: 226px;
    padding: 15px 0 0 15px;    
}
.btn_donate{
    width: 381px;
    right: 20px;
    bottom: 50px;
}
/**** End Get Involve Css *****/
.box-address p span{
    float: left;
}
.box-address p {
    color: #707774;
    float: left;
    font-size: 15px;
    width: 100%;
}

}
@media screen and (max-width: 1280px){
    .header{
        height: 100px;
    }

    .main-menu{
        margin-top: 4.6%;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .main-menu{
        margin-top: 4.9%;
    }
    .main-menu li{
        margin-right: 20px;
    }
    .main-menu li a{
        font-size: 18px;        
    }
    .search-box{
        margin-top: 10px;
    }
    .social{
        margin-top: 25px;
    }
}
@media screen and (max-width: 1024px){
    ul#thumb-list li{
        width: 335px !important;
    }
    .header{
        height: 80px;
    }
    .main-menu{
        margin-top: 4%;
    }
    .main-menu li{
        margin-right: 20px;
    }
    .main-menu li a{
        font-size: 14px !important;        
    }
    .search-box{
        margin-top: 5px;
    }
    .showproject{
        width: 75%;
    }
    .social{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .header-mobile{
        background: #fafafa;
        height: 75px;
        float: left;
        width: 100%;
    }
    .mobile_menu_left{
        float: right;
        background: #f1f1f1;
        width: 85px;
        height: 75px;
        line-height: 75px;
        text-align: center;
    }
    .language-mobile{
        float: right;
        width: auto;
        line-height: 75px;
        margin-right: 20px;
    }
    .language-mobile a{
        font-size: 14px;
        color: #676767;
    }
    #menu_left{
        background: #fafafa;
        float: left;
        width: 100%;
        position: absolute;
        top: 81px;
        left: 0;
        z-index: 1000;
    }
    #menu_left li{
        list-style: none;
        padding: 10px 0;
        border-bottom: 1px solid #e5e5e5;
    }
    #menu_left li a{
        color: #23b9dd;
        text-transform: uppercase;
    }
    .banner-mobile p{
        position: absolute;
        width: 100%;
        bottom: 10px;
        text-align: center;
        left: 0;
        color: #fff;
        font-size: 26px;
        font-family: Calibri;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .home-moble{
        float: left;
        width: 100%;
        background: url('img/bg_homemobile.jpg') repeat;
        padding: 0px 0 0px 0;
    }
    .content-home-box{
        float: left;
        width: 100%;
        margin: 30px 0;
    }
    .content-home-box h3{
        font-size: 24px;
        color: #a8a8a8;
        margin-bottom: 20px;
        text-align: left;
        float: left;
        width: auto;
        background: url('images/icon_next.png') no-repeat right 11px;
        padding-right: 20px;
    }
    .content-home-box h3 a{
        color: #a8a8a8;
    }
    .content-home-box h3 a:hover{
        color: #3cbcf8;
    }
    .content-home-box p{
        font-size: 18px;
        color: #a8a8a8;
        margin-bottom: 0;
        text-align: left;
        float: left;
        width: 100%;
        font-family: 'OpenSansLight';
    }
    .home-moble hr{
        border: solid #f2f3f3;
        border-width: 1px 0 0;
    }
    .link-home{
        float: left;
        width: 100%;
        background: #f8f8f8;
        padding: 10px 0;
        text-align: center;
    }
    .link-home a{
        color: #3cbcf8;
        font-size: 18px;
    }
    .link-involved{
        padding: 20px 0;
        background: #f2f2f2;
    }
    .btn_vol1_small{
        background: url('img/btn_homem.png') no-repeat bottom right;
        height: 49px;        
        color: #fff;
        font-size: 22px;
        text-align: left;
        font-family: Calibri;
        width: 120px;
        line-height: 40px;
        padding: 0 0 0 10px;
    }
    .btn_vol2_small{
        background: url('img/btn_homem2.png') no-repeat bottom left;
        height: 49px;        
        color: #fff;
        font-size: 22px;
        text-align: left;
        font-family: Calibri;
        width: 120px;
        line-height: 40px;
        padding: 0 0 0 10px;
    }
    .btn_vol2_small:hover,.btn_vol1_small:hover{
        color: #fff;
    }
    /**** About Css *****/
    .des-about-mobile{
        background: #dddddd;
        padding: 30px 20px;
    }
    .des-about-mobile p{        
        color: #fff;
        font-size: 31px;
        font-family: Calibri;
        line-height: 1.2em;
        margin: 0;
    }
    .page-about-team{
        margin-top: 30px;
    }
    .page-about-content{
        margin: 0;
    }
    .page-about-content h3{
        font-size: 24px;
    }
    .page-about-content p{
        font-family: 'OpenSansRegular';
        font-size: 19px
    }
    .title-page-boxmenu{
        padding: 10px 0;
        border-bottom: none;
    }
    .boxmenu,.boxmenumobile{
        border: none;
        background: #fff;
        font-size: 30px;
        color: #53d8fa;
        font-family: Calibri;
        height: auto;
    }
    .icon-boxmenu,.icon-boxmenu-mobile{
        top: 25px;
    }
    .menu-about{
        height: 80px;
    }
    .menu-box,.menu-box-mobile{
        right: 0;
        top: 160px;
    }
    /**** End About Css *****/
    /**** About Team Css *****/
    .thumbnail-team,.name-team{
        text-align: center;
    }
    .position-team{
        font-size: 18px;
        color: #919090;
        margin-top: 10px;
        text-align: center;
    }
    .page-content-about-team .content-team-detail p{
        font-size: 18px;
        color: #919090;
    }
    .page-content-about-team .content-team-detail{
        margin-top: 30px;
        padding-left: 0;
    }
    /**** End About Team Css *****/
    /**** Key Statistics Css *****/
    .gender{
        margin: 0;
        padding: 35px 0;
    }
    .gender .image-gender{
        text-align: center;
    }
    .page-key-statistic h2{
        font-size: 107px;
        margin-right: 10px;
    }
    .gender p{
        font-size: 18px;
    }
    .school{
        margin: 0;
        padding: 60px 0;
        background: #fff;
    }
    .school p{
        font-size: 11px;
        margin-top: 0px;
        text-transform: none;
        text-align: center;
    }
    .number-school h2{
        float: none;
        margin: 0;
        line-height: 1em;
        text-align: center;
    }
    .school .image-school{
        margin-top: 20px;
        margin-bottom: 0;
        text-align: left;
    }
    .school .image-school img{
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .number-pass p {
        color: #FFFFFF;
        font-size: 15px;
        font-weight: bold;
        line-height: 1.5em;
        margin-left: 0px;
        margin-top: 15px;
    }
    .number-pass{
        background-position: center center;
        text-align: center;
        padding: 60px 0;
        height: 100%;
    }
    .student h2{
        margin: 150px 0 0;
        float: none;
    }
    .number-student{
        padding: 60px 0;
        text-align: center;
        background: url("images/icon_student.png") no-repeat scroll center center #fff;
        height: 100%;
    }
    .number-student p{
        margin-top: 0px;
        font-size: 23px;
        margin-left: 0;
    }
    .number-student-mobile-h2{
        margin: 88px 0 0 !important;
        line-height: 1em !important;

    }
    .phantram_toilet{
        font-size: 59px;
        line-height: 1em;
    }
    .toilet{
        margin: 0;
    }
    .toilet p{
        font-size: 19px;
    }
    .toilet-left{
        margin-top: 60px;
    }
    .student{
        margin: 0;
    }
    .vietnam{
        margin-top: 30px;
        background: url("images/map_vn.png") no-repeat scroll right top #fff;
    }
    .scholarship p{
        margin-top: 0;
        font-size: 20px;
    }
    .bg-center{
        font-size: 30px;
    }
    .main-page-key-statistic{
        margin-top: 55px;
    }
    .page-key-statistic{
        margin-top: 35px;
    }
    /**** End Key Statistics Css *****/
    /**** Career Css *****/
    .page-career{
        margin: 35px 0;
    }
    .sidebar-left li a{
        font-size: 20px;
    }
    .page-career h3,.page-career p{
        font-size: 18px;
    }
    /**** End Career Css *****/
    /**** Project Css *****/
    .main-page-project .content-home-box p{
        font-family: 'OpenSansRegular';
    }
    .title-project-detail{
        background: #f9f9fa;
        float: left;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .title-project-detail h3{
        color: #00b0e0;
        font-weight: bold;
        font-size: 30px;
        margin: 0;
    }
    .product-content-detail{
        padding-top: 0;
    }
    .box-project-detail{
        margin: 40px 0;
    }
    .box-project-detail h3{
        font-size: 24px;
    }
    .box-project-detail h4{
        font-family: 'OpenSansLight';
    }
    .box-project-detail p{
        font-size: 18px;
        color: #707774;
    }
    /**** End Project Css *****/
    /**** News Css *****/
    .main-page-new{
        background: #f9f9f9;
        padding: 40px 0 20px;
    }
    .box-new h3 a{
        line-height: 1.2em;
    }
    .box-new p{
        font-size: 18px;
    }
    .thumb-new{
        margin-bottom: 30px;
    }
    .date-published a{
        font-style: italic;
        margin-right: 10px;
    }
    .date-published{
        color: #b7b7b7 !important;
        margin: 0 !important;
    }
    .news-detail h3 a{
        font-size: 30px;
        line-height: 1.2em;
    }
    .post-date{
        font-size: 12px;
        color: #b7b7b7 !important;
    }
    /**** End News Css *****/
    /**** Get Involve Css *****/
    .involve1 h2, .involve2 h2{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .involve1 .intro p{
        font-size: 18px;
        text-align: left;
    }
    .involve1 .intro{
        padding: 40px 0;
    }
    .involve2 h3{
        font-family: 'Giorgiosans';
        font-size: 68px;
        margin-top: 30px;
        text-align: center;
    }
    .content-involved-mobile{
        margin-top: 20px;
    }
    .involve2 p{
        font-size: 18px;
    }
    .involve2{
        padding: 40px 0 0;
    }
    .involve3 h2{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .involve3 .intro p{
        font-size: 18px;
        text-align: left;
    }
    .btn_mobile_vol1{
        background: url('img/invol_m1.png') no-repeat bottom left;
        height: 66px;
        float: left;
        width: 171px;
        padding: 10px 0 0 10px;
        margin: 0 30px;
    }

    .btn_mobile_vol2{
        background: url('img/invol_m2.png') no-repeat bottom left;
        height: 66px;
        float: left;
        width: 171px;
        padding: 10px 0 0 10px;
    }
    .btn_mobile_vol2 h3,.btn_mobile_vol1 h3{
        font-family: Calibri;
        color: #fff;
        font-size: 24px;
        margin: 0;
        line-height: 1em;

    }
    .btn_mobile_vol2 p,.btn_mobile_vol1 p{
        line-height: 1em;
        font-size: 12px;
        color: #fff;
        font-family: Calibri;
        margin: 0;
    }
    .involve0{
        background: #fff;
        padding: 50px 0;
        float: left;
        width: 100%;
    }
    .involve0 h2{
        font-size: 40px;
        color: #f8a21a;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin-top: 0;
    }
    .boder{
        padding: 0 10px;
        border: none;

    }
    .yourname,.address{
        margin: 0 0 1em !important;
    }
    .pR30{
        padding-right: 10px;    
    }
    .pL30{
        padding-left: 10px;    
    }
    input.btn_submit_mobile{
        background: #5aafbe;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #a3d2d8;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        height: 45px;
        line-height: 45px;
        cursor: pointer;
        width: 100%;
        margin: 1em 0 0 0;
    }
    .btn_donate{
        left: 0;
        bottom: 20px;
        padding: 0;
        line-height: 1em;
        width: 100%;
        background: none;
        height: auto;
    }
    .btn_donate h1{
        font-size: 48px;
        color: #47c5e6;
        background: #fff;
        opacity: 0.7;
        float: right;
        padding: 0 10px;
        margin-right: 20px;

    }
    .donate-section2{
        padding: 40px 0;
    }
    .donate-section1 h2{
        font-size: 40px;
        margin-bottom: 25px;
    }
    .donate-section1 .intro p{
        font-size: 18px;
        text-align: left;
    }
    .box-address{
        text-align: center;
    }
    .facebook-twitter{
        margin-bottom: 20px;
    }
    .main-page-contact h2{
        font-size: 40px;
        margin-bottom: 30px;
    }
    /**** End Get Involve Css *****/
    .box-address p span{
        float: none;
    }
    .box-address p {
        color: #707774;
        float: none;
        font-size: 15px;
        width: 100%;
    }
}
