/* 
    Document   : mobile
    Created on : Oct 15, 2013, 1:51:27 PM
    Author     : NgocHai
    Description:
        Purpose of the stylesheet follows.
*/
@media screen and (min-width: 1280px) and (max-width: 1366px){
    
	.main-menu{
		margin-top: 4.9%;
	}
	.search-box{
		margin-top: 13px !important;
	}
    ul#thumb-list li{
        width: 376px !important;
    }
	.main-menu li{
	margin-right:25px !important;
	}

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .search-box{
        margin-top: 5px !important;
    }
}
.header{
    height: 100px;
}
.main-menu li{
    margin-right: 25px;
}
.main-menu li a{
    font-size: 18px;        
}

.social{
    margin-top: 35px;
}
.page-banner .page-decription p{
    font-size: 35px;
}
.title-page-boxmenu{
    padding-bottom: 10px;
}
.title-page-boxmenu .title-page{
    font-size: 50px;
}
.boxmenu, .boxmenumobile{
    font-size: 14px;
    height: 45px;
    margin-right: 20px;
    padding: 16px 0 0 20px;
}
.icon-boxmenu, .icon-boxmenu-mobile{
    top: 6px;
}
.menu-box, .menu-box-mobile{
    top: 43px;
}
.menu-box li, .menu-box-mobile li{
    margin: 10px 0;
}
.menu-box li a, .menu-box-mobile li a{
    font-size: 14px;
}
/*
#supersized li{
	margin-top:70px !important;
}
*/
/****About Css *****/
.page-about-content{
    margin: 20px 0;
}
.page-about-content h3{
    font-size: 30px;
}
.page-about-content p{
    font-size: 18px;
}
.page-about-team{
    margin: 40px 0;
}
/**** End About Css *****/
/**** About Team Css *****/
.page-content-about-team .content-team-detail p{
    font-size: 18px;
}
.name-team{
    font-size: 18px;
}
/**** End About Team Css *****/
/**** Key Statistics Css *****/
.bg-center{
    font-size: 28px;
}
.gender{
    margin: 80px 0;
}
.gender .number-gender{
    margin-top: 30px;
}
.page-key-statistic h2{
    font-size: 150px;
    font-family: 'Giorgiosans';
	text-align: center;
}
.number-student h2{
	margin-top:88px;
 }
.number-student h2 p.text-sutdent{
	margin-top:10px;
}
.vietnam{
padding-right:175px;
}
.gender p{
    font-size: 16px;
}
.school p{
    font-size: 15px;
}
/**** End Key Statistics Css *****/
/**** Project Css *****/
.showproject{
    width: 80%;
}
.project .content .box-project {
    margin-bottom: 40px;
    margin-right: 40px;
}
.project .intro p{
    font-size: 18px;
}
.box-project-detail h3{
    font-size: 30px;
}
.box-project-detail{
    margin: 40px 0;
}
.box-project-detail h4{
    font-size: 20px;
}
.box-project-detail p{
    font-size: 18px;
}
/**** End Project Css *****/
/**** News Css *****/
.box-new h3 a{
    font-size: 22px;
}
.box-new p{
    font-size: 14px;
}
.title-feature-new p{
    font-size: 14px;
}
.news-detail h3 a{
    font-size: 30px;
}
/**** End News Css *****/
/**** Get Involve Css *****/
.box-involved{
	min-height:250px;
}
.btn_vol1,.btn_vol2{
    width: 305px;
}
.btn_vol1{
    right: 360px;
}
.btn_vol2{
    right: 20px;
}
.involve1 h2, .involve2 h2,.involve3 h2{
    font-size: 50px;
}
.involve1 .intro p,.involve3 .intro p{
    font-size: 17px;
	line-height:34px;
}
.involve2 h3{
    font-size: 80px;
}
.involve2 p,.involve3 p{
    font-size: 17px;
}

.btn_donate{
	width: auto;
	right: 20px;
	bottom: 50px;
	padding: 15px;
	border-radius: 5px;
}
/**** End Get Involve Css *****/
.box-address p span{
    float: left;
	padding-right:30px;
}
.box-address p {
    color: #707774;
    float: left;
    font-size: 12px;
    width: 100%;
}
.page-key-statistic .number-pass h2{
    font-size: 94px;
}
.box-address h3{
    font-size: 15px;
}
.inputform textarea{
    height: 169px;
}
}
@media screen and (max-width: 1280px){
    .header{
        height: 100px;
    }
    
    .main-menu{
        margin-top: 4.6%;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .main-menu{
        margin-top: 4.9%;
    }
    .main-menu li{
        margin-right: 20px;
    }
    .main-menu li a{
        font-size: 18px; 
        font-weight: normal;       
    }
    .search-box{
        margin-top: 10px;
    }
    .social{
        margin-top: 25px;
    }
}
@media screen and (max-width: 1024px){
    
}
