/* 
    Document   : style
    Created on : Oct 8, 2013, 8:14:17 AM
    Author     : NgocHai
    Description:
        
	Purpose of the stylesheet follows.
*/


@font-face {
    font-family: 'Calibri';
    src: url('font/calibri.eot');
    src: url('font/calibri.eot?#iefix') format('embedded-opentype'),
        url('font/calibri.woff') format('woff'),
        url('font/calibri.ttf') format('truetype'),
        url('font/calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLight';
    src: url('font/opensans-light.eot');
    src: url('font/opensans-light.eot?#iefix') format('embedded-opentype'),
        url('font/opensans-light.woff') format('woff'),
        url('font/opensans-light.ttf') format('truetype'),
        url('font/opensans-light.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('font/opensans-regular-webfont.eot');
    src: url('font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/opensans-regular-webfont.woff') format('woff'),
        url('font/opensans-regular-webfont.ttf') format('truetype'),
        url('font/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('font/opensans-semibold.eot');
    src: url('font/opensans-semibold.eot?#iefix') format('embedded-opentype'),
        /*url('font/opensans-semibold.woff') format('woff'),*/
        url('font/opensans-semibold.ttf') format('truetype'),
        url('font/opensans-semibold.svg#OpenSansSemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Giorgiosans';
    src: url('font/giorgiosans-bold.eot');
    src: url('font/giorgiosans-bold.eot?#iefix') format('embedded-opentype'),
        url('font/giorgiosans-bold.woff') format('woff'),
        url('font/giorgiosans-bold.ttf') format('truetype'),
        url('font/giorgiosans-bold.svg#Giorgiosans') format('svg');
    font-weight: normal;
    font-style: normal;

}
html{
    margin: 0 !important;
}
body{
    font-family: 'OpenSansRegular';
}


/*---- GENERAL ----------------------------------------- */

h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}
a{
    font-family: 'OpenSansRegular';
    color: #2b87ce;
}

hr {
    border: solid #afc1b8;
    border-width: 1px 0 0;
    clear: both;
    margin: 0;
    height: 0; }
.page-banner{
    position: relative;
}
.page-banner h2{
    position: absolute;
    width: 100%;
    bottom: 60px;
    font-size: 80px;
    color: #fad13d;
    line-height: 1em;
    margin: 0;
    font-family: Calibri;
    text-align: center;
}
h1{
    font-family: Calibri;
    color: #707774;
}
h2{
    font-family: Calibri;
    color: #707774;
}
h3{
    font-family: Calibri;
    color: #707774;
}
h4{
    font-family: 'OpenSansRegular';
    color: #707774;
}
h5{
    font-family: 'OpenSansRegular';
    color: #707774;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;

}
p{
    font-family: 'OpenSansRegular';
    font-size: 18px;
    color: #444;
    line-height: 1.5em;
}
.page-banner .page-decription{
    left: 8%;
    position: absolute;
    top: 15%;
}
.page-banner .page-decription p{
    color: #fff;
    font-family: 'OpenSansRegular';
    font-size: 60px;
    line-height: 1.1em;
}
.sidebar-left li{
    list-style: none;
    padding: 8px 0;
}
.sidebar-left li.divider{
    border-top: 1px solid #e5e5e5;
    height: 0;
    padding: 0;
    list-style: none;
}
.sidebar-left li a{
    color: #606060;
    font-size: 18px;
}
.sidebar-left li.active a, .sidebar-left li a:hover {
    font-family: 'OpenSansSemibold';
}
.boxmenu,.boxmenumobile{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #f8f7f7;
    font-size: 20px;
    color: #aeaeae;
    text-transform: uppercase;
    height: 60px;
    padding: 20px 0 0 20px;
    padding-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.icon-boxmenu,.icon-boxmenu-mobile{
    background:url('images/icon_boxmenu.png') no-repeat;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 13px;
    right: 5px;
    cursor: pointer;
}
.menu-box,.menu-box-mobile{
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:  5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background: #f8f7f7;
    position: absolute;
    right: 20px;
    top: 57px;
    z-index: 10;
    display: none;
}
.menu-box li,.menu-box-mobile li{
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px 0 5px 20px;
}
#menu-menu-about .item1,.main-menu .item1{
    display: none;
}
#menu-menu-about-vietnamese .item1,.main-menu-vietnamese .item1{
    display: none;
}
.menu-box li a, .menu-box-mobile li a{
    font-size: 18px;
    color: #aeaeae;
    text-transform: uppercase;
}
.menu-box li a:hover, .menu-box li.active a{
    color:#44C8E8;

}
.page-key-statistic h2{    
    font-size: 200px;
    color: #f8a21a;
    line-height: 0.6em;
    font-family: 'Giorgiosans';
    margin: 0;
}
.pR30{
    padding-right: 30px;    
}
.pL30{
    padding-left: 30px;    
}
.date-published{
    color: #b1b1b1 !important;
    font-style: normal !important;
}
.more-link{
    font-style: italic;
}
.title-feature-new p.post-date{
    margin-bottom: 0;
}
/*----END GENERAL ----------------------------------------- */ 


/*---- ALIGNMENT FIXED ----------------------------------------- */

.pr15{
    padding-right:15px;
}

.pl15{
    padding-left:15px;
}

/*----Header Css----------------------------------------- */ 
.header{
    background: #fafafa;
    float: left;
    width: 100%;
    height: 75px;
}
.logo {
    background: url('images/mekong_logo.png') 0 0 no-repeat;
    width: 66px;
    height: 59px;
    margin: 0px;
    background-size: 100%;
    margin-top: 15px;
    margin-left: 80px;
}
.main-menu{
    float: left;
    width: 100%;
    margin-top:37px;
}
.social a{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(50%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity:0.5;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */
    display:block;
    width:29px;
    height:29px;
    float:left;
    margin:8px 2px;
}
.social a:hover{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    opacity:1;

}
.facebook-ico{
    background: url('images/facebook-ico.png') 0 0 no-repeat;
    width:29px;
    height:29px;
}
.google-ico{
    background: url('images/google-ico.png') 0 0 no-repeat;

}
.twitter-ico{
    background: url('images/twitter-ico.png') 0 0 no-repeat;
}
.main-menu li{
    float: left;
    width: auto;
    list-style: none;
    margin-right: 40px;
}
.main-menu li a{
    color: #8c8b8b;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Calibri;
    transition: color 0.5s;
    -webkit-transition: color 0.5s; /* Safari */
    font-weight: normal;
}
.main-menu li.current-menu-item a,.main-menu li.current-page-ancestor a, .main-menu li:hover a{
    color: #44c8e8;
}
.search-box{
    width: 170px;
    float: left;
    position: relative;
    margin-top: 26px;
}
.search-box input.input_search{
    width: 168px;
    height: 31px;
    border: none;
    border-radius: 5px;
    background-color: #F1F1F1;
}
.search-box input.btn_search{
    background: url('images/btn_search.png') no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    position: absolute;
    top: 5px;
    right: 7px;
}
.search-box .language{
    float: left;
    width: 168px;
    font-family: 'OpenSansRegular';
    font-size: 10px;
    margin-bottom: 5px;
    text-align: right;
    padding-right: 3px;
}
.search-box .form-search{
    float: left;
    width: 100%;
    position: relative;
}
.search-box form{
    margin-bottom: 0;
}
.search-box .language a{
    font-family: 'OpenSansRegular' !important;
    font-size: 10px !important;    
    font-weight: normal;
    color: #478ef0 !important;
}
.search-box .language a.lang_sel_sel .icl_lang_sel_current{
    color: #676767 !important;
    font-weight: normal;
    background-color:transparent;
}
.social{
    float: left;

    padding-left: 10px;
    margin-top: 41px;
}
.line{
    float: left;
    width: 100%;
    height: 3px;
    background: url('images/line.jpg');
    position: absolute;
    top: 70px;
    z-index: 1000;
}
#menu-menu-about .item0{
    display: none;
}
#menu-menu-about-vietnamese .item0{
    display: none;
}
/*----End Header Css----------------------------------------- */
/*----Footer Css----------------------------------------- */
.footer{
    height: 51px;
    width: 100%;
    float: left;
    background: url('images/bg_footer.jpg') repeat-x;
}
.footer p{
    font-size: 12px;
    color: #2d2d2d;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
}
/*----End footer Css----------------------------------------- */ 
.page-banner{
    float: left;
    width: 100%;
}
.page-about-team{
    margin-top: 80px;
    float: left;
    width: 100%;
}
.title-page-boxmenu{
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    float: left;
    width: 100%;
}
.title-page-boxmenu .title-page{
    color: #53d8fa;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Calibri;
}
.page-content-about-team{
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.page-content-about-team .box-team{
    margin-top: 55px;
    float: left;
    width: 100%;
}
.thumbnail-team{
    float: left;
    width: 100%;
}
.name-team{
    margin-top: 15px;
    color: #00afd8;
    font-size: 24px;
    font-weight: bold;
    font-family: 'OpenSansRegular';
    text-align: center;
    float: left;
    width: 100%;
}
.page-content-about-team .content-team-detail{
    float: left;
    width: 100%;
    padding-left: 20px;
}
.page-content-about-team .content-team-detail h3{
    color: #444444;
    font-size: 24px;
    font-weight: normal;
    font-family: 'OpenSansRegular';
    margin-bottom: 25px;
    margin-top: 10px;
    text-transform: uppercase;
}
.page-content-about-team .content-team-detail p{
    color: #666;
    font-size: 24px;
    font-weight: normal;
    font-family: 'OpenSansRegular';
    margin-bottom: 1.3em;
}
/* Product css */
.main-page-project,.involve1{
    background: url('images/involved_bg.jpg') repeat;
    float: left;
    width: 100%;
}
.project .intro{
    margin: 85px auto;
}
.project .intro p{
    text-align: center;
    color: #7e7e7e;
    font-size: 25px;
}
.project .content .box-project{
    margin-right: 60px;
    margin-bottom: 60px;
}
.project .content .box-project img:hover{
    cursor: pointer;
}
.showproject{
    display: none;
    left: 22px;
    position: absolute;
    top: 11px;

}
.product-detail .box-project{
    margin-bottom: 30px !important;
}
.product-content-detail{
    background: #d1e8dd;
    float: left;
    width: 100%;
    padding: 20px 0 40px 0;
    margin-bottom: 55px;
}
.box-project-detail{
    margin: 70px 0;
}
.box-project-detail h3{
    font-size: 48px;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}
.box-project-detail h4{
    font-family: 'OpenSansRegular';
    font-size: 24px;
    font-weight: normal;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}
.box-project-detail p{
    margin: 35px 0;
}
.readmore{
    font-size: 21px;
    font-style: italic;
}
/*----End project css -----*/
/*----News css -----*/
.main-page-new{
    width: 100%;
    float: left;
    background: url('images/bg_new.jpg') repeat;
    padding: 70px 0;
}
.news-list .tab{
    float: left;
    width: 100%;
    margin-bottom: 20px;

}
.news-list .tab li{
    list-style: none;
    color: #2b87ce;
    font-size: 17px;
    font-family: 'OpenSansRegular';
    float: left;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity:0.5;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */

}
.news-list .tab li.active, .news-list .tab li:hover{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    opacity:1;
}
.news-list .tab li.new-all{
    background: url('images/news-icon-all.png') no-repeat left 10px;
}
.news-list .tab li.new-photo{
    background: url('images/news-icon-photovideo.png') no-repeat 20px 15px;
    padding-left: 100px;
    text-align: left;
}
.news-list .tab li.new-only{
    background: url('images/news-icon-newsonly.png') no-repeat 20px 10px;
    padding-left: 100px;
    text-align: left;
}
.box-new{
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom:60px;
}
.box-new p{
    margin:0px;
}
.box-new h3{
    margin-bottom: 30px;
    margin-top: 0;
}
.box-new h3 a{
    color: #2b87ce;
    font-size: 36px;
    font-family: 'OpenSansRegular';
    font-weight: bold;
}
.box-new p{
    font-size: 21px;
    color: #4f4f4f;
}
.main-page-new hr {
    border: solid #e5e5e5;
    border-width: 1px 0 0;
}
.paging{
    float: left;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #c7c7c7;
    margin: 20px 0;
}
.pre{
    background: url('images/pre.jpg') no-repeat bottom left; 
    height: 36px;
    cursor: pointer;
}
.next{
    background: url('images/next.jpg') no-repeat bottom right;
    height: 36px;
    cursor: pointer;
}
.paging-list{
    text-align: center;
    line-height: 36px;
    color: #777777;
    font-size: 20px;
    font-family: 'OpenSansRegular';
}
.feature{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 33px;
    background: #f6f6f6;
    float: left;
}
.feature h2{
    color: #848484;
    font-size: 27px;
    margin: 10px 0 35px;
}
.feature hr{
    border: solid #e3e3e3;
    border-width: 1px 0 0;
}
.box-thumbnail-new .thumbnail-image{
    padding-right: 10px;

}
.box-thumbnail-new{
    float: left;
    margin-top: 30px;
}
.box-thumbnail-new .thumbnail-image img{
    border: 1px solid #f6f6f6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.title-feature-new p{
    line-height: 1.2em;
    color: #777;
}
.title-feature-new p a{
    line-height: 1.2em;
    color: #777;
}
.post-date{
    font-size: 18px;
    color: #ababab !important;
}
.content-new-detail{
    margin: 40px 0;
}
.socail{
    margin: 40px 0;
    float: left;
}
.other-new h3{
    font-size: 18px;
    color: #b7b7b7;
    font-family: 'OpenSansRegular';
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
}
.other-new li{
    list-style: none;
    color: #b1b1b1;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 20px;
}
.other-new li a{
    font-size: 14px;
    font-weight: bold;
}
.news-detail h3 a{
    font-size: 48px;
    font-family: 'OpenSansRegular';
    font-weight: bold;
}
/*----End news css -----*/
/*---Involved css -----*/
.banner-involved{
    float: left;
    width: 100%;
    position: relative;
}
.banner-involved h2{
    font-size: 80px;
    color: #f8a21a;
    font-family: Calibri;
    text-transform: uppercase;
    right: 20px;
    bottom: 140px;
    position: absolute;
}
.btn_vol1{
    background: url('images/btn_involved1.png') no-repeat bottom left;
    height: 111px;
    position: absolute;
    right: 330px;
    bottom: 40px;
    padding: 20px 0 0 20px;
}
.btn_vol2{
    background: url('images/btn_involved2.png') no-repeat bottom left;
    height: 111px;
    position: absolute;
    right: 0px;
    bottom: 40px;
    padding: 20px 0 0 20px;
}
.btn_vol1 h3,.btn_vol2 h3{
    font-family: Calibri;
    color: #fff;
    font-size: 42px;
    margin: 0;
    line-height: 1em;
    font-weight:lighter;
}
.btn_vol1 h3:hover,.btn_vol2 h3:hover{
    font-family: Calibri;
    color: #fff;
    font-size: 42px;
    margin: 0;
    line-height: 1em;
    font-weight:lighter;
}

.btn_vol1 p,.btn_vol2 p{
    line-height: 1em;
    font-size: 21px;
    color: #fff;
    font-family: Calibri;
}
.involve1{

}
.involve1 .intro{
    margin: 0 auto;
    padding: 60px 0 60px 0;
    text-align: center;
}
.involve1 h2,.involve2 h2{
    font-size: 67px;
    font-weight: bold;
    text-transform: uppercase;
    color: #397695;
    margin-bottom: 50px;
}
.involve1 .intro p{
    color: #5b8da6;
    font-size: 29px;
    line-height:48px;

}
.involve2{
    float: left;
    width: 100%;
    background: url('images/keystats_bg.jpg') repeat left;
    padding: 70px 0 50px;
}
.involve2 h2{
    text-align: center;
}
.involve2 h3{
    color: #f2990c;
    margin: 0 0 20px 0;
    font-size: 100px;
    line-height: 1em;
    font-family: 'Giorgiosans';
}
.involve2 p{
    color: #6f9cb2;
    font-size: 24px;

}
.box-involved{
    margin-bottom: 30px;
	min-height:330px;
}
.box-involved img{
    margin-top: 15px;
}
.involve3{
    float: left;
    width: 100%;
    background: url('images/involved3_bg.jpg') repeat left;
    padding: 45px 0 50px;
    border-bottom: 3px solid #c9c9c9;
    position:relative;
}
.involve3_shadow{
    background-color: transparent;
    box-shadow: 0 39px 33px #CCCCCC;
    height: 30px;
    opacity: 0.6;
    position: absolute;
    top: -30px;
    width: 100%;
}
.involve3 .intro{
    margin: 0 auto;
    padding: 0px 0 0px 0;
    text-align: center;
    margin-top:50px;
}
.involve3 h2{
    color: #878787;
    text-transform: uppercase;
    font-size: 67px;
    font-weight: bold;
    margin-bottom: 50px;
}
.involve3 .intro p{
    color: #878787;
    font-size: 29px;

}
.link-involved{
    background: #fafafa;
    float: left;
    width: 100%;
    padding: 45px 0;
}
.btn-link-vol{
    text-align: center;
}
.btn_vol1_small{
    background: url("images/btn_vol_small.png") no-repeat scroll right bottom transparent;
    color: #FFFFFF;
    font-family: Calibri;

	font-size: 32px;
	font-weight: normal;
	height: 85px;
	padding: 24px 52px 0 23px;
	text-align: right;
}
.btn_vol1_small:hover{
    background: url("images/btn_vol_small.png") no-repeat scroll right bottom transparent;
    color: #FFFFFF;
    font-family: Calibri;
	font-size: 32px;
	font-weight: normal;
	height: 85px;
	padding: 24px 52px 0 23px;
	text-align: right;
}
.btn_vol2_small{
    background: url("images/btn_vol_small2.png") no-repeat scroll left bottom transparent;
    color: #FFFFFF;
    font-family: Calibri;
	font-size: 32px;
	font-weight: normal;
	height: 85px;
	padding: 24px 78px 0 23px;
	text-align: right;
}
.btn_vol2_small:hover{
    background: url("images/btn_vol_small2.png") no-repeat scroll left bottom transparent;
    color: #FFFFFF;
    font-family: Calibri;
	font-size: 32px;
	font-weight: normal;
	height: 85px;
	padding: 24px 78px 0 23px;
	text-align: right;
}
.btn_vol2_small:hover,.btn_vol1_small:hover{
    color: #fff;
}
/*----End Involved css -----*/
/*----Contact css -----*/
.main-page-contact{
    background: #f6f6f6;
    float: left;
    width: 100%;
    padding: 40px 0;
}
.main-page-contact h2{
    color: #5aafbe;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;

}
.box-address h3{
    font-size: 17px;
    color: #5c5c5c;
    font-family: 'OpenSansRegular';
    font-weight: bold;
    margin-top: 0;
}
.box-address p{
    font-size: 14px;
    color: #707774;
}
.box-address p img{
    margin-top: -5px;
}
.face-book{
    margin: 30px 0;
    text-align: center;
    float: left;
    width: 100%;
}
.facebook-twitter{
    text-align: center;
}
.facebook-twitter a{
    margin-right: 25px;
}
.main-page-contact input,.donate-page input{
    border: 1px solid #efefef;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    padding: 0px 30px;
    font-size: 18px;
    /*    color: #999;*/
    height: 75px;
    box-shadow: none;
    text-transform: uppercase;
}
textarea{
    border: 1px solid #efefef;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    padding: 0px 30px;
    font-size: 18px;
    color: #999;
    height: 160px;
    resize: none;
    padding-top: 20px;
    box-shadow: none;
    text-transform: uppercase;
}
textarea.message{
    height: 252px;
}
.boder{
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    padding: 0 30px;
}
input.btn_submit{
    float: right;
    width: 152px;
    height: 48px;
    border: none;
    background: url('images/btn_contact.png') no-repeat bottom right !important;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}
/*----End Contact css -----*/
/*----Donate css -----*/
select{
    border: 1px solid #EFEFEF;
}
span.customSelect {
    font-size:18px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EFEFEF;
    color:#7c7c7c;
    padding:0px 30px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    height: 75px;
    margin: 0 0 1em;
    color: #D9D9D9;
    line-height: 68px;
}
span.customSelect.changed {
    background-color: #f0dea4;
}
.customSelectInner {
    background:url(images/icon_select.png) #fff no-repeat center right;
    padding-top: 5px;
}
.customSelect.changed {
    border: 1px solid red;
}

.customSelectFocus {
    border: 1px solid red;
}

.customSelectOpen {
    border: 1px solid red;
}
option{

    padding: 5px 30px 0;
    text-transform: uppercase;
    color: #D9D9D9;
}
.banner-donate{
    float: left;
    width: 100%;
    position: relative;
}
.btn_donate{
    position: absolute;
    right: 0;
    bottom: 200px;
    /*background: url('images/btn_donate.png') no-repeat;*/
    height: 91px;
    padding-left: 30px;
    padding-top: 10px;
}
.btn_donate h1{
    color: #47c5e6;
    text-transform: uppercase;
    font-size: 80px;
    margin: 0;
    line-height: 1em;
	margin-top:-5px;
}
.donate-section1 .intro{
    margin: 0 auto;
    text-align: center;
}
.bg_top{
    background: url('images/bg_top.png') repeat top left;
    float: left;
    width: 100%;
    height: 68px;
}
.bg_bottom{
    background: url('images/bg_bottom.png') repeat top left;
    float: left;
    width: 100%;
    height: 74px;
}
.bg_repeat{
    background: url('images/bg_lap.png') repeat top left;
    float: left;
    width: 100%;

}
.donate-section1 h2{
    font-size: 50px;
    font-weight: bold;
    color: #f8a21a;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.donate-section1 .intro p{
    color: #606060;
    margin-bottom: 5px;
}
.donate-section2{
    background: url('images/bg_donate2.jpg') repeat top left;
    width: 100%;
    padding: 50px 0;
}
.donate-section2 h2{
    font-size: 50px;
    font-weight: bold;
    color: #f8a21a;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}
textarea.self_introduce{
    height: 185px;
}
.donate-section2 .boder{
    border-color: #dbe3e2;
}
.donate-section2 .address{
    margin-bottom: 0;
}
.volunteer{
    text-align: center;
    padding: 0px;
    padding-top: 18px;
}
.volunteer h1{
    font-size: 80px;
}
/*----End Donate css -----*/
/*----About css -----*/
.page-about-content{
    float: left;
    width: 100%;
    margin: 40px 0;
    letter-spacing:0.05em;
}
.page-about-content h3{
    color: #666;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
.page-about-content p{
    color: #666;
    font-size: 30px;
    font-family: OpenSansRegular;
    line-height: 30px;
}

.page-about-content .reports{
    text-align:center;
    margin: 60px 0 90px 0;
}
/*----End About css -----*/
/*----Career css -----*/
.page-career{
    float: left;
    margin:50px 0;
    width: 100%;
}
.page-career p{
    color: #606060;
    margin-bottom: 5px;
    line-height: 1.5em;
    font-size:18px;
    font-family:OpenSansRegular;
    font-weight:lighter;
}
.page-career h3{
    color: #606060;
    font-family: 'OpenSansSemibold';
    font-size: 22px;
    margin: 20px 0 10px;
    text-transform: uppercase;
}
/*----End Career css -----*/
/*----Key Statistic css -----*/
.main-page-key-statistic{
    float: left;
    width: 100%;
    margin-top: 70px;
}
.page-key-statistic{
    float: left;
    width: 100%;
    background: #f3f3f3;
    margin-top: 70px;

}
.title-page-key{
    margin: -20px auto 0;
}
.bg-left,.bg-center,.bg-right{
    height: 75px;
    float: left;
}
.bg-left{
    background: url('images/bg_keyleft.png') no-repeat;
    width: 45px;
}
.bg-right{
    background: url('images/bg_keyright.png') no-repeat;
    width: 45px;
}
.bg-center{
    background: url('images/bg_keylap.png') repeat;
    line-height: 75px;
    font-size: 52px;
    color: #7a7a7a;
    font-weight: bold;
    padding: 0 10px;
}
.gender{
    float: left;
    width: 100%;
    margin-top: 140px;
    margin-bottom: 115px;
}
.gender .image-gender{

    text-align: right;
}
.gender .number-gender{
    float: left;
}
.gender h2{
    float: left;
    width: auto;
}
.gender p{
    font-weight: bold;
    font-size: 32px;
    color: #b1b1b1;
}
.page-key-statistic hr {
    background-color: #EBEBEB;
    border-color: white;
    border-style: solid;
    border-width: 0 0 1px;
    height: 3px;
}
.school{
    float: left;
    width: 100%;
    margin: 60px 0;
}
.school .image-school{
    text-align: center;
    margin-bottom: 55px;
}
.school .image-school img{
    margin-right: 30px;
}
.school h2{
    float: left;
    width: auto;
    color: #acd03d;
}
.school p{
    text-transform: uppercase;
    font-size: 28px;
    color: #9f9c9b;
    line-height: 1em;
    margin: 50px 0 0;
}
.student{
    float: left;
    width: 100%;
    margin: 60px 0;
    background:url(images/horizontal_line.png) center repeat-y;
}
.student h2{
    float: left;
    width: auto;
    color: #fff;
    font-size: 94px;
    margin: 170px 0 0 89px;
}
.number-pass{
    background: url('images/bando.png') no-repeat left;
    height: 295px;
    margin-top: 30px;
}
.number-pass p{
    color: #3d82d0;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2em;
    margin-left: 300px;
    margin-top: 100px;
}
.number-student{
    background: url('images/icon_student.png') no-repeat left;
    height: 320px;
}
.number-student h2{
    color: #3dd0ba;
    font-size: 150px;
    margin-left: 30px;
    margin-top: 130px;
}
.number-student h2 p.text-sutdent{
    font-family: 'OpenSansRegular';
    font-size: 43px;
    font-weight: bold;
    color: #3dd0ba;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
}
.number-student p{
    color: #3dd0ba;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 355px;
    margin-top: 130px;
}
.toilet{
    float: left;
    width: 100%;
    margin: 60px 0; 
    background:url(images/horizontal_line.png) center repeat-y;
}
.phantram_toilet{
    font-family: 'Giorgiosans';
    font-size: 88px;
    color: #d03d74;
    line-height: 0.7em;
    float: left;

}
.toilet .ptop{
    margin-top:-15px;
    margin-bottom:41px;
}
.toilet p{
    margin-bottom: 18px;
    float: left;
    width: 100%;
    color: #acaaa9;
    font-weight: bold;
    font-size: 28px;
}
.toilet-left{
    margin-top: 100px;
}
.vietnam{
    background: url("images/map_vn.png") no-repeat scroll right top transparent;
    height: 386px;
    padding-left: 72px;
    padding-right: 130px;
    padding-top: 138px;
}
.vietnam p{
    color: #c1c0bf;
    line-height: 1.2em;
}
.scholarship{
    float: left;
    width: 100%;
    margin: 60px 0; 
}
.scholarship p{
    text-align: center;
    color: #cb50da;
    font-size: 28px;
    font-weight: bold;
    margin-top: 175px;
}
/*----End Key Statistic css -----*/
/*----Home css -----*/
.slide-home{
    float: left;
    width: 100%;
    position: relative;
}
#thumb-list h3{
    font-size: 24px;
    color: #a8a8a8;
    margin-bottom: 20px;
    text-align: left;
    float: left;
    width: auto;
    background: url('images/icon_next.png') no-repeat right 11px;
    padding-right: 20px;
}
#thumb-list p{
    font-size: 16px;
    color: #a8a8a8;
    margin-bottom: 0;
    text-align: left;
    float: left;
    width: 100%
}
#thumb-tray{
    background: url('images/bg_thumhome.jpg') repeat;
}
.current-thumb h3{
    background: url('images/icon_next_active.png') no-repeat right 3px !important;
}
#thumb-list li h3, #thumb-list li p{
    transition: color 1s;
    -webkit-transition: color 1s; /* Safari */
}
#thumb-list li:hover h3, #thumb-list li:hover p{
    color: #53c8e3 !important;
}
.current-thumb h3,.current-thumb p{
    color: #53c8e3 !important;
}
/*----End Home css -----*/
.class-slideshow-wrapper #fullsize{
    width: 100% !important;
    height: 400px !important;
}
.class-slideshow-wrapper{
    width: 100% !important;
    background: none !important;
    border: none !important;
}
.class-slideshow-wrapper #slidearea{
    width: 93% !important;
    background: none !important;
}
.class-slideshow-wrapper .slidearea{
    width: 93% !important;
    background: none !important;
}
.class-slideshow-wrapper #thumbnails{
    background: none !important;
}
.class-slideshow-wrapper #slideleft{
    background-color: transparent  !important;
}
.class-slideshow-wrapper #slideright{
    background-color: transparent  !important;
}
.class-slideshow-wrapper .thumbsbot{
    margin-top: 20px !important;
}
div.wpcf7-validation-errors{
    float: left;
    width: auto;
}
/**** Our Supporters css */
.page-our-supporters{
    float: left;
    width: 100%;
    margin: 20px 0;
}
.page-our-supporters .intro{
    margin: 90px auto;
    text-align: center;
}
.page-our-supporters .intro p{
    font-size: 18px;
    color: #606060;
}
.doitac li{
    min-height: 100px;
    float: left;
    margin-bottom: 20px;
    clear: none !important;
}
#lang_sel_list{
    height: auto !important;
    width: auto !important;
    float: right;
}
#lang_sel_list ul{
    border: none !important;

}
#lang_sel_list li{
    float: right !important;
    width: auto !important;
}
#lang_sel_list a, #lang_sel_list a:visited{
    border: none;
    padding: 0 0 0 10px !important;
}
.money-vietnam{
    margin: 0;
    font-size: 20px;
}
.involve2 h3.title-vn{
    margin-bottom: 5px;
}