.ch-item {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor:pointer;
    margin: 0 auto;
}
.ch-item {
    width: 300px\9;
    height: 300px\9;
}
.ch-img-1 { 
    background-image: url(../images/1.jpg);
}

.ch-img-2 { 
    background-image: url(../images/2.jpg);
}

.ch-img-3 { 
    background-image: url(../images/3.jpg);
}

.ch-info {
    position: absolute;
    background: #00b0e0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity: 0;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    -webkit-backface-visibility: hidden;
    cursor:pointer;

}

.ch-info img{
    width:30%;
    margin-top:30px;
}
.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 21px;
    margin: 0 30px;
    padding: 15px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
    position: absolute;
    top: 110px;
    width: 78%;
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    -webkit-transition: all 1s ease-in-out 0.4s;
    -moz-transition: all 1s ease-in-out 0.4s;
    -o-transition: all 1s ease-in-out 0.4s;
    -ms-transition: all 1s ease-in-out 0.4s;
    transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: #fff222;
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info{
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1;
}
.og-grid li.active .ch-info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
}

.og-grid .active .ch-info {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1;
}
.og-grid li a{
    position:relative;
    display:block;
}
.og-grid li h3.title {
    position: relative;
    width: 200px;
    z-index: 2000;
    top: -137px;
    color: white;
    font-size: 27px;
    opacity: 0;
    line-height: 27px;
    margin: 0 auto;
}

.og-grid li:hover h3.title,.og-grid li.active h3.title{
    opacity: 1;
}
.og-grid li:hover h3.title{
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */
}
.og-grid li.active .ch-info img{
    display:none;
}
.og-grid li.active .ch-item {
    box-shadow: none;
}

.ch-item:hover .ch-info p {
    opacity: 1;
}