/* The Grid ---------------------- */


.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }

/* Hai code them*/

.lt-ie9 .row .column,
.lt-ie9 .row .columns,
.lt-ie9 .columns,
.lt-ie9 .columns
{
    position: relative;
    padding-left: 0.65em;
    padding-right: 0.65em;
    float: left; }

.lt-ie9 .large-1 {
    position: relative;
    width: 5%; }

.lt-ie9 .large-2 {
    position: relative;
    width: 10%; }

.lt-ie9 .large-3 {
    position: relative;
    width: 15%; }

.lt-ie9 .large-4 {
    position: relative;
    width: 20%; }

.lt-ie9 .large-5 {
    position: relative;
    width: 25%; }

.lt-ie9 .large-6 {
    position: relative;
    width: 30%; }

.lt-ie9 .large-7 {
    position: relative;
    width: 35%; }

.lt-ie9 .large-8 {
    position: relative;
    width: 40%; }

.lt-ie9 .large-9 {
    position: relative;
    width: 45%; }

.lt-ie9 .large-10 {
    position: relative;
    width: 50%; }

.lt-ie9 .large-11 {
    position: relative;
    width: 55.0%; }

.lt-ie9 .large-12 {
    position: relative;
    width: 60%; }

.lt-ie9 .large-13 {
    position: relative;
    width: 65%; }

.lt-ie9 .large-14 {
    position: relative;
    width: 70%; }

.lt-ie9 .large-15 {
    position: relative;
    width: 75%; }

.lt-ie9 .large-16 {
    position: relative;
    width: 80%; }

.lt-ie9 .large-17 {
    position: relative;
    width: 85%; }

.lt-ie9 .large-18 {
    position: relative;
    width: 90%; }

.lt-ie9 .large-19 {
    position: relative;
    width: 95%; }

.lt-ie9 .large-20 {
    position: relative;
    width: 100%; }

/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }
.show-for-small,
.show-for-medium-down,
.show-for-large-down {
    display: none !important; }

.show-for-medium,
.show-for-medium-up,
.show-for-large,
.show-for-large-up,
.show-for-xlarge {
    display: none !important; }

.hide-for-medium,
.hide-for-medium-up,
.hide-for-large,
.hide-for-large-up,
.hide-for-xlarge {
    display: block !important; }

.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down {
    display: block !important; }