/* 
    Document   : IE8-1366
    Created on : Nov 6, 2013, 9:49:36 AM
    Author     : NgocHai
    Description:
        Purpose of the stylesheet follows.
*/
.header{
    height: 75px;
}
.main-menu{
    margin-top: 4.6%;
}
.main-menu li{
    margin-right: 15px !important;
}
.main-menu li a{
    font-size: 18px !important;        
}
