/* 
    Document   : IE8
    Created on : Aug 8, 2013, 10:06:05 AM
    Author     : NgocHai
    Description:
        Purpose of the stylesheet follows.
*/
.header {
    background: none repeat scroll 0 0 #FAFAFA;
    float: left;
    height: 75px;
    margin-top: -5px;
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 10000;
}
.logo{
    background: url('../images/mekong_logo_03.png') no-repeat;
}
.line{
    top: 70px;
}
.social{
    margin-top: 35px !important;
}
#supersized a{
    cursor:default;
}
#supersized div.activeslide{
    display:block !important;
}

#supersized div.inner-content{
    display:none;
    position: absolute;
    left: 100px !important;
    top: 200px;
    width: 409px;
    height: 250px;
    padding: 20px;
}
#supersized div.inner-content-bg{
    display:block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 409px;
    height: 215px;
    background-color: orange;
    padding: 20px;
    border-radius:10px;
    opacity:0.9;
}
#supersized div.inner-content .info{
    display:block;
    width:100%;
    height:215px;
    position:absolute;
    top:0px;
    left:0px;
    padding:5px 20px;
}
#supersized div.inner-content .info h4{
    color: white;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1px;
    padding-top: 5px;
}

#supersized div.inner-content .info h2{
    color: white;
    line-height: 40px;
    font-size: 39px;
    margin-top: 10px;}

#supersized div.inner-content .info a{
    border: solid 1px whitesmoke;
    width: 130px;
    height: 47px;
    padding: 11px;
    text-align: center;
    color: white;
    float: left;
    margin-right: 12px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 15px;
    cursor:pointer;
}
#supersized div.inner-content .info a:hover{
    background-color:white;
    color:orange;
}

.boxmenu, .boxmenumobile{
    margin-right:0px;
}
.menu-box{
    right:0px;
    position: absolute !important;
}
.icon-boxmenu{
    right:-12px;
}


/* HOME ----------------------*/
.main-menu li{
    margin-right:25px !important;
}

#thumb-tray {
    bottom: -0px !important;
    height: 90px !important;
    left: 0;
    overflow: hidden;
    padding: 20px 30px 20px 20px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 3;
}

#thumb-list h3 {
    background: url("../images/icon_next.png") no-repeat scroll right 5px transparent;
    color: #A8A8A8;
    float: left;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
    width: 270px;
    line-height: 22px;
    padding: 0px;
}

#thumb-list p {
    color: #A8A8A8;
    float: left;
    font-size: 12px;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
}

#thumb-back-bg{
    height: 126px;
    left: 0;
    width: 100px;
    z-index: 1000;
    background:url('../images/bg_thumhome.jpg') repeat;
    position:absolute;
}
#thumb-forward-bg{
    height: 126px;
    right: 0;
    width: 83px;
    z-index: 1000;
    background:url('../images/bg_thumhome.jpg') repeat;
    position:absolute;
}
#thumb-back, #thumb-forward{
    bottom:3px;
}
#thumb-back,#thumb-back:hover {
    height: 112px !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100px !important;
    z-index: 2000 !important;
}

#thumb-forward,#thumb-forward:hover {
    height: 112px !important;
    right: 0 !important;
    width: 100px !important;
    bottom: 0 !important;
    z-index: 2000 !important;
}

#thumb-list li:last-child{
    border-right:none;
}
#controls-wrapper{
    bottom:120px !important;
}
/* ABOUT ----------------------*/
.page-about-content p{
    font-size:22px;
}
.page-decription{
    width:45%;
    position: absolute !important;
}
.page-banner .page-decription p {
    color: #fff;
    font-family: OpenSansRegular;
    line-height: 1.4em;
    font-weight: normal;
    font-size: 35px;
}

/* KEY STATISTICS ----------------------*/
.gender p{
    font-size:25px;
}
.gender h2{
    margin-right:5px;
}

.school p {
    font-size: 22px;
    padding-top: 0px;
    margin-top: 40px;
    font-family: OpenSansLight;
    text-align:center;
}
.school p strong{
    font-family:OpenSansRegular;
}
.number-pass p {
    font-size: 24px;
    margin-top: 79px;
}
.number-pass p strong{
    font-size:30px;
}
.number-student p {
    color: #3dd0ba;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 355px;
    margin-top: 109px;
}




.box-address h3{
    font-size:14px;
}
ul#thumb-list li{
    width:275px;
}
.box-new h3 a{
    font-size:29px;
}
.box-new p{
    font-size:16px;
}
.content-new-detail p{
    font-size:16px;
}
.main-page-new h3{
    font-size:36px;
}
.involve3 {
    float: left;
    width: 100%;
    background: url('../images/involved3_bg.jpg') repeat left;
    padding: 45px 0 50px;
    border-bottom: 3px solid #c9c9c9;
    position: relative;
    box-shadow: 1px 1px 50px #ccc inset;
}
.donate-page select{
    height: 74px;
    color: #999;
    font-size: 18px;
    text-indent: 26px;
    text-transform: uppercase;
    background-color: white;
}

#slideshow-wrapper .imgnav{
    height:100%;
}
.social a{
    float: left;
    margin-right: 5px;
    margin-top: 0px;
}

.main-menu{
    margin-top: 4.9%;
}
.main-menu li{
    margin-right: 25px;
}
.main-menu li a{
    font-size: 18px;        
}
.search-box{
    margin-top: 18px;
}
.social{
    margin-top: 35px;
}
.page-banner .page-decription p{
    font-size: 35px;
}
.title-page-boxmenu{
    padding-bottom: 10px;
}
.title-page-boxmenu .title-page{
    font-size: 40px;
}
.boxmenu, .boxmenumobile{
    font-size: 14px;
    height: 45px;
    margin-right: 0px;
    padding: 16px 0 0 20px;
}
.icon-boxmenu, .icon-boxmenu-mobile{
    top: 6px;
}
.menu-box, .menu-box-mobile{
    top: 43px;
}
.menu-box li, .menu-box-mobile li{
    margin: 10px 0;
}
.menu-box li a, .menu-box-mobile li a{
    font-size: 14px;
}
/****About Css *****/
.page-about-content{
    margin: 20px 0;
}
.page-about-content h3{
    font-size: 30px;
}
.page-about-content p{
    font-size: 18px;
}
.page-about-team{
    margin: 40px 0;
}
/**** End About Css *****/
/**** About Team Css *****/
.page-content-about-team .content-team-detail p{
    font-size: 18px;
}
.name-team{
    font-size: 18px;
}
/**** End About Team Css *****/
/**** Key Statistics Css *****/
.bg-center{
    font-size: 28px;
}
.gender{
    margin: 80px 0;
}
.gender .number-gender{
    margin-top: 30px;
}
.page-key-statistic h2{
    font-size: 140px;
}
.gender p{
    font-size: 16px;
}
.student h2{
    margin-left: 80px;
}
.number-student h2{
    margin-left: 5px;
    font-size: 140px;
}
.toilet-left .phantram_toilet{
    font-size: 60px !important;
}
.toilet .ptop{
    margin-top: 20px;
}
.toilet p {
    margin-bottom: 13px;
    float: left;
    width: 100%;
    color: #acaaa9;
    font-weight: bold;
    font-size: 22px !important;
}
.info-toilet {
    margin-top: 20px;
    float: left;
    margin-left: 10px;
}
/**** End Key Statistics Css *****/
/**** Project Css *****/
.showproject{
    width: 80%;
}
.project .content .box-project {
    margin-bottom: 40px;
    margin-right: 40px;
}
.project .intro p{
    font-size: 18px;
}
.box-project-detail h3{
    font-size: 30px;
}
.box-project-detail{
    margin: 40px 0;
}
.box-project-detail h4{
    font-size: 20px;
}
.box-project-detail p{
    font-size: 18px;
}
.ch-item{    
    /*    border-radius: 50%;
        behavior: url(PIE.htc);*/
}
.og-grid li h3.title{
    display: none;
    position: absolute !important;
    top: 150px !important;
    left: 70px !important;
}
.ch-item .ch-info{
    /*    top: 16px;
        left: 16px;*/
    display: none;
/*    border-radius: 50%;
    behavior: url(PIE.htc);*/
    /*    width: 200px;
        height: 200px;*/
		background: url('../images/ie8-project-hover.png') center center no-repeat;
		background-color:transparent;
}
.ch-item:hover .og-grid h3.title{
    display: inline;
}
.ch-info{
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9, M12=0, M21=0, M22=0.9, SizingMethod='auto expand')";*/
}
.ch-grid li.active .ch-info{
	display:block !important;
}
/*
.ch-item:hover .ch-info, .linkproject div.active .ch-info{
    z-index: 100;
    top: 16px !important;
    left: 16px !important;
    width: 270px;
    height: 270px;
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9, M12=0, M21=0, M22=0.9, SizingMethod='auto expand')";

}*/

.og-closeie8 {
    position: absolute;
    width: 31px;
    top: 10px;
    right: 10px;
    height: 31px;
    background: #888;
    z-index: 10000;
    background: url('../images/bg_icon.jpg') no-repeat;
    cursor: pointer;
}
.data-content{

}
.data-content{
    position: absolute;
    background: #ddd;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    overflow: hidden;
    background:#d1e8dd;
}

.og-expander-innerie8 {
    padding: 50px 150px;
    height: 100%;
}
.og-expander-innerie8 p{
	font-size:18px;
	color:﻿rgb(112, 119, 116);
}
.og-expander-innerie8 h3{
	font-size:30px;
	margin-bottom:-10px;
	text-transform:uppercase;
	margin-bottom:5px;
}
/**** End Project Css *****/
/**** News Css *****/
.box-new h3 a{
    font-size: 22px;
}
.box-new p{
    font-size: 14px;
}
.title-feature-new p{
    font-size: 14px;
}
.news-detail h3 a{
    font-size: 30px;
}
.thumb-new img.attachment-full{
    height: auto !important;
    width: 100%;
}
/**** End News Css *****/
/**** Get Involve Css *****/
.btn_vol1,.btn_vol2{
    width: 305px !important;
    position: absolute !important;
    padding-left: 20px !important;
    padding-right: 0 !important;
}
.btn_vol1{
    right: 360px;
}
.btn_vol2{
    right: 20px;
}
.involve1 h2, .involve2 h2,.involve3 h2{
    font-size: 50px;
}
.involve1 .intro p,.involve3 .intro p{
    font-size: 22px;
	line-height:38px;
}
.involve2 h3{
    font-size: 80px;
}
.involve2 p,.involve3 p{
    font-size: 20px;
}

.btn_donate{
    width: 381px !important;
    right: 20px;
    bottom: 50px;
    position: absolute !important;
}
.btn_vol1_small{
    padding-top: 15px !important;
    text-align: left !important;
}
.btn_vol2_small{
    padding-top: 15px !important;
}
.main-page-contact input, .donate-page input{
    line-height: 68px;
}
input.btn_submit{
    line-height: 48px;
    text-align: center !important;
    padding: 0 !important;
}
/**** End Get Involve Css *****/
.box-address p span{
    float: left;
}
.box-address p {
    color: #707774;
    float: left;
    font-size: 11px;
    width: 100%;
}
.page-key-statistic .number-pass h2{
    font-size: 94px;
}
.box-address h3{
    font-size: 14px;
}
.box-address p span{
    float: left;
    width: 50%;
    margin-right: 0 !important;
}
#lang_sel_list a, #lang_sel_list a:visited {
    border: none !important;
    padding: 0 0 0 10px !important;
}
.search-box .language a.lang_sel_sel .icl_lang_sel_current {
    background-color: rgba(0, 0, 0, 0);
    color: #676767 !important;
    font-weight: normal;
}

.﻿number-provinces p{
	position:absolute;
	left:170px;
}
﻿


/* HOME ----------------------------------------*/
#thumb-tray{
	height:90px !important;
}
#supersized li{
	margin-top:70px !important;
}
#thumb-back,#thumb-back:hover {
	height:85px !important;
	top:10px;
}

#thumb-forward,#thumb-forward:hover {
	height:85px !important;
	top:10px;
}
ul#thumb-list{
	padding-top:15px;
	margin-top:20px;
}
ul#thumb-list li{
	width:370px !important;
	padding:0 10px;
}
ul#thumb-list li h3{
	margin-top:-5px;
}
ul#thumb-list li p{
	font-size:11px;
	line-height:15px;
	padding-right:20px;
}
 #supersized div.inner-content{
 	top:150px;
	width:350px;
 }
  #supersized div.inner-content .info h2{
  	font-size:28px;
	line-height:32px;
  }
 #supersized div.inner-content-bg{
	 width:350px;
	 height:180px;
	filter: alpha(opacity=90);
	﻿-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.social a.facebook-ico, .social a.google-ico, .social a.twitter-ico{
		 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale") !important;
    -webkit-filter: grayscale(0%) !important;
	opacity:1 !important;
}
#searchform input{
	margin-top:-7px;
}

#controls-wrapper{
	bottom: 90px !important;
}

/* KEY STATISTIC ----------------------------------------*/


.main-page-key-statistic h2{
	font-family:OpenSansSemibold;
}
.number-provinces p{
	position:absolute;
	left:170px;
}
.number-student{
	position:absolute !important;
	right:70px !important;
}
.number-pass{
	margin-left:50px;
}

#IE8-number-school{
	margin-left:-20px;
}
#IE8-number-provinces{
	width:300px;
}
#IE8-number-pass{
	margin-left:70px !important;	
}
#IE8-number-pass h2{
	font-size:80px;
}

#IE8-toilet-left-img{
	margin-top:15px;
}
#IE8-number-student{
	float:left;
	left:600px;
}

#IE8-number-student h2{
	font-size:120px;
}
#IE8-toilet-access, #IE8-notoilet-access{
	font-size:20px;
}

#IE8-vietnam{
	padding-right:150px !important;
}
#IE8-vietnam-div{
		padding-right:150px;
}
/* PROJECT ----------------------------------------*/

.og-grid LI A{
    display: inline !important;
}

.linkproject h3.title{
	﻿background-color: rgb(0,176,224) !important;  
	MARGIN-LEFT: -13px !important;
}