.main-page-key-statistic h2{
    font-family:OpenSansSemibold;
}
.number-provinces p{
    position:absolute;
    left:185px;
}
.number-student{
    position:absolute !important;
    right:70px !important;
}
.number-pass{
    margin-left:50px;
}
.gender p{
    font-size: 16px;
}
#IE8-number-school{
    margin-left:-20px;
}
#IE8-number-provinces{
    width:300px;
}
#IE8-number-pass{
    margin-left:70px !important;	
}
#IE8-number-pass h2{
    font-size:80px;
    margin-left: 60px;
}
#IE8-number-student h2{
    font-size:120px;
    margin-left: 15px;
}
#IE8-toilet-access, #IE8-notoilet-access{
    font-size:20px;
}

#IE8-vietnam{
    padding-right:150px !important;
}
#IE8-vietnam-div{
    padding-right:150px;
}
.og-close{
    position: absolute;
    width: 31px;
    top: 10px;
    right: 10px;
    height: 0px;
    z-index: 100000;
    background: url('../images/bg_icon.jpg') no-repeat !important;
    cursor: pointer;
}

