/*GENERAL FIX--------------------------------------------------------------------------*/


/* HOME ---------------------------------------*/

ul#thumb-list li{
    width:275px;
}

#thumb-tray{
    padding:15px 100px !important;
}
/* KEY STATISTICS------------------------------*/
.page-key-statistic .bg-center{
    text-shadow:1px 1px white;
}

.doitac li{
    text-align:center;
	border-left:solid 1px whitesmoke;
	padding:15px;
}
.doitac li:last-child{
	border-right:solid 1px whitesmoke;
}
.doitac li img{
	height:70px;
	width:auto;
}

/* PROJECTS ------------------------------*/
.main-page-project{
}


.box-project-detail p{
    color:#707774;
}
.box-project-detail h4{
    font-family:OpenSansLight;
    margin-top:5px;
}

.product-content-detail .readmore{
    font-style:italic;	
}

.box-project-detail{
    padding-top:50px;
}
.box-project-detail hr{
    margin-bottom:30px;

}
.project .content .box-project{
    margin:0px;
    margin-bottom:50px !important;
    text-align:center;
    position:relative;
}
.product-content-detail{
    margin-bottom:0px;
}
.box-project-gallery{
    margin-top:30px;
}

.showproject {
    left: 10%;
    top: 7%;
    position: absolute;

}
p strong{
	font-weight:normal;
	font-family:OpenSansSemiBold;
}
div.wpcf7-validation-errors{
	border:none !important;
}
.wpcf7-mail-sent-ok{
	float: left !important;
	width: 100% !important;
	text-align: center !important;
	border: none !important;
}

.wpcf7-not-valid-tip-no-ajax{
	color: #f00 !important;
	font-size: 10pt !important;
	display: block !important;
	margin-top: -10px !important;
	margin-bottom: 20px !important;
}
div.wpcf7-validation-errors {
float: left !important;
width: 100% !important;
text-align: center !important;
}
.main-page-contact .wpcf7-mail-sent-ok
{
	margin-top:-32px !important;
}
.main-page-contact input, .donate-page input{
	color:#D9D9D9;
}
/* CONTACT */
.box-address span{
	margin-top:5px;
}

.page-banner iframe{
	display:none;
}



/* iPad Lanscape */
@media screen and (max-width: 768px){
	
	
  .main-menu li a{
font-family: CalibriRegular;
}
.title-page {
    font-family: CalibriRegular;
}
 .page-banner h2{
    font-family: CalibriRegular;
}
 h1{
    font-family: CalibriRegular;
}
 h2{
    font-family: CalibriRegular;
}
 h3{
    font-family: CalibriRegular;
}
 .main-menu li a{
    font-family: CalibriRegular;
}
 .banner-involved h2{
    font-family: CalibriRegular;
}
 .btn_vol1 h3,.btn_vol2 h3{
    font-family: CalibriRegular;
}
 .btn_vol1 h3:hover,.btn_vol2 h3:hover{
    font-family: CalibriRegular;
}
 .btn_vol1 p,.btn_vol2 p{
    font-family: CalibriRegular;
}
 .btn_vol1_small{
    font-family: CalibriRegular;
}
 .btn_vol1_small:hover{

    font-family: CalibriRegular;
}
 .btn_vol2_small{
    font-family: CalibriRegular;
}
 .btn_vol2_small:hover{
    font-family: CalibriRegular;
}
 .page-about-content p{
    font-family: CalibriRegular;
}
 .page-career p{
    font-family:CalibriRegular;
}
 .title-page{
    font-family:CalibriRegular;
}
	
	.line{
		background-size: 100%;
	}
	.header{
		height: 80px;
	}
    .main-menu{
        margin-top: 28px;
		width:700px;
    }
	.logo{
		margin-left:13px;
	}
	.form-search{display:none;}
    .main-menu li{
        margin-right: 20px;
    }
    .main-menu li a{
        font-size: 16px !important;        
    }
    .search-box{
        margin-top: 5px;
    }
    .showproject{
        width: 75%;
    }
    .social{
        display: none;
    }
	
	.header {
        background: none repeat scroll 0 0 #FAFAFA;
        float: left;
        height: 75px;
        margin-top: -5px;
        overflow: hidden;
        width: 100%;
        position: relative;
        z-index: 10000;
    }

    #supersized a{
        cursor:default;
    }
    #supersized div.activeslide{
        display:block !important;
    }

    #supersized div.inner-content{
        display:none;
		position: absolute;
		left: 50px !important;
		top: 130px;
		width: 309px;
		height: 250px;
		padding: 20px;
    }
    #supersized div.inner-content-bg{
        display:block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 300px;
        height: 166px;
        background-color: orange;
        padding: 20px;
        border-radius:10px;
        opacity:0.9;
		filter: alpha(opacity=80);
		﻿-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	

    }
    #supersized div.inner-content .info{
        display:block;
        width:100%;
        height:165px;
        position:absolute;
        top:0px;
        left:0px;
        padding:5px 20px;
    }
    #supersized div.inner-content .info h4{
        color: white;
        font-size: 10px;
        font-style: italic;
        letter-spacing: 1px;
        padding-top: 5px;
    }

    #supersized div.inner-content .info h2{
        color: white;
        line-height: 30px;
        /*font-size: 39px;*/
		font-size: 24px;
        margin-top: 10px;}

    #supersized div.inner-content .info a{
        border: solid 1px whitesmoke;
        width: 130px;
        height: 47px;
        padding: 11px;
        text-align: center;
        color: white;
        float: left;
        margin-right: 12px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 15px;
		cursor:pointer;
		transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s; /* Safari */
    }
    #supersized div.inner-content .info a:hover{
        background-color:white;
        color:orange;
    }
	#supersized li.middle img{
		bottom: 128px !important;
		position: absolute;	
	}
	#supersized li.bottom img{
		bottom: 190px !important;
		position:absolute;
	}

    .boxmenu, .boxmenumobile{
        margin-right:0px;
		width:200px;
		height:40px;
    }
    .menu-box{
        right:0px;
		width:200px;
		top:38px;
    }
    .icon-boxmenu{
        right:-12px;
		top:3px;
    }


    /* HOME ----------------------*/
    .main-menu li{
        margin-right:25px !important;
    }

    #thumb-tray {
        height: 120px !important;
		padding-left: 35px !important;
		padding-right:45px !important;
		padding-top:10px !important;
    }

	 #thumb-list li{
	 	width:236px !important;
	 }
	 #thumb-list p{
		 padding-top:5px !important;
		 line-height:13px;
	 }
     #thumb-list h3 {
        background: url("../images/icon_next.png") no-repeat scroll right 3px transparent;
        color: #A8A8A8;
        float: left;
        font-size: 16px;
        margin-bottom: 0px;
        text-align: left;
        width: auto;
        line-height: 22px;
        padding: 0px;
		padding-right:30px;
    }

    #thumb-list p {
        color: #A8A8A8;
        float: left;
        font-size: 10px;
        margin-bottom: 0;
        text-align: left;
        width: 100%;
    }

    #thumb-back-bg{
        height: 126px;
        left: 0;
        width: 40px;
        z-index: 1000;
        background:url('../images/bg_thumhome.jpg') repeat;
        position:absolute;
    }
    #thumb-forward-bg{
        height: 126px;
        right: 0;
        width: 40px;
        z-index: 1000;
        background:url('../images/bg_thumhome.jpg') repeat;
        position:absolute;
    }
    #thumb-back, #thumb-forward{
        bottom:3px;
    }
    #thumb-back,#thumb-back:hover {
		left: 5px !important;
		top: 10px !important;
		z-index: 2000 !important;
    }

    #thumb-forward,#thumb-forward:hover {
		right: 6px !important;
		top: 10px;
		z-index: 2000 !important;
    }

    #thumb-list li:last-child{
        border-right:none;
    }
    #controls-wrapper{
        bottom:112px !important;
    }
	
	#supersized div.inner-content .info a{
		font-size:10px;
		width:92px;
		height:38px;
	}
	.footer{
		height:40px;
	}
	.footer p{
		font-size:10px;
	}
    /* ABOUT ----------------------*/
	
	.page-content-about-team .content-team-detail h3{
		font-size:16px;
	}
	.menu-box li, .menu-box-mobile li{
		margin-top:0px;
		margin-bottom:0px;
	}
	.menu-box li a, .menu-box-mobile li a{
		font-size:12px;
	}
	.boxmenu, .boxmenumobile{
		padding-top:12px !important;
		font-size:14px;
	}
    .page-about-content p{
        font-size:12px;
		font-family:OpenSansRegular;
		line-height:24px;
    }
    .page-banner .page-decription{
        width:45%;
		top:27%;
    }
    .page-banner .page-decription p {
        color: #fff;
        font-family: OpenSansRegular;
        line-height: 1.4em;
        font-weight: normal;
		font-size:20px;
    }
	.social{
		margin-top:25px;
		display:none;
	}
	.page-about-team{
		margin-top:30px;
	}
	.page-career h3{
		font-size:16px;
	}
	.page-career p{
		font-size:12px;
	}
	.title-page-boxmenu .title-page{
		font-size:30px;
		padding-top:15px;
		width:400px;
		font-family: CalibriRegular;

	}
	.page-about-content{
		margin:20px 0;
	}
	.page-about-content h3{
		font-size:22px;
	}
	.page-content-about-team .content-team-detail p{
		font-size:12px;
	}
	.name-team{
		font-size:10px;
	}

	.page-about-content{
		min-height:470px;
		
	}
	.page-career{
		min-height:386px;
	}
    /* KEY STATISTICS ----------------------*/
	.bg-center{
		font-size:25px;
	}
	.page-key-statistic h2{
		font-size:100px;
	}
    .gender p {
		font-size: 11px;
		line-height: 19px;
		margin-top: 29px;
		float: left;
		width: 146px;	
	}
    .gender h2{
        margin-right:5px;
		margin-top:0px;
    }
    .school p {
        font-size: 14px;
        padding-top: 0px;
        margin-top: 50px;
        font-family: OpenSansLight;
        text-align:center;
    }
	.school .image-school img{
		width:50px;
		margin-left:15px;
		margin-right:15px;
	}
	.number-provinces p{
		position: absolute;
		left: 98px;
		top: 0px;	
	}
    .school p strong{
        font-family:OpenSansRegular;
    }
	.number-student{
		background-size:70%;
		position:absolute;
		right:37px;
		height:250px;
	}
	.student h2 {
	float: left;
	width: auto;
	color: #fff;
	font-size: 70px;
	margin: 145px 0 0 69px;
	}
	.number-student h2 {
		font-size: 80px !important;
		margin-left: 12px;
		margin-top: 90px;
		color: #3dd0ba;

	}
	.number-student h2 p.text-sutdent{
		font-size: 26px;
		margin-top: -4px;
		text-align: center;
	}
	.number-pass p {
		font-size: 18px;
		margin-top: 88px;
		margin-left: 210px;
		position: absolute;
	}
    .number-pass p strong{
        font-size:30px;
    }
    .number-student p {
		color: #3dd0ba;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.2em;
		margin-bottom: 0;
		margin-left: 198px;
		margin-top: 82px;
    }
	.number-student p span{
		font-size:21px !important;
	}
	.number-pass{
		margin-left:20px;
		background-position: center;
		height: 250px;
		margin-top: 30px;
		background-size: 80%;
	}
	.number-pass h2{
		font-size:70px;
		margin-top:125px;
	}
	.number-pass p strong{
		font-size:22px;
	}
	.phantram_toilet{
		font-size:34px;
	}
	
    .toilet p {
        margin-bottom: 0px;
        float: left;
        width: 100%;
        color: #acaaa9;
        font-weight: bold;
        font-size: 16px !important;
    }
    .info-toilet {
		margin-top: 10px;
		float: left;
		margin-left: 10px;
		font-size: 12px;
    }

	.toilet .ptop{
		margin-top:0px;
	}

	.vietnam{
		background-size:50%;
		height:310px;
		padding-top:98px;
	}
    .box-address h3{
        font-size:14px;
    }
    ul#thumb-list li{
        width:275px;
		height:108px !important;
    }
	page-our-supporters .intro {
	margin: 50px auto;
	text-align: center;
	}
	.box-new h3 a{
		font-size:29px;
	}
	.box-new p{
		font-size:16px;
	}
	.content-new-detail p{
		font-size:16px;
	}
	.main-page-new h3{
		font-size:36px;
	}
	.involve3 {
		float: left;
		width: 100%;
		background: url('../images/involved3_bg.jpg') repeat left;
		padding: 45px 0 50px;
		border-bottom: 3px solid #c9c9c9;
		position: relative;
		box-shadow: 1px 1px 50px #ccc inset;
	}
	.donate-page select{
		height: 74px;
		color: #999;
		font-size: 18px;
		text-indent: 26px;
		text-transform: uppercase;
		background-color: white;
	}
	
	#slideshow-wrapper .imgnav{
		height:100%;
	}
	
	#supersized li{
		top:70px !important;
		background-color:whitesmoke;
	}
	#supersized li.top img{
		top:0px !important;
	}
	
	#supersized li.middle img{
		bottom:225px !important;
		position:absolute;
	}
	
	#supersized li.bottom img{
		bottom:188px !important;
		position:absolute;
	}
	ul#slide-list li a{
		display: block;
		height: 12px !important;
		background-size: 70% !important;
		background-position-y: top !important;
	}
	ul#slide-list li.current-slide a, ul#slide-list li.current-slide a:hover{
		background-position:0px -12px !important;
	}
	.vietnam {
	padding-left: 49px;
	padding-right: 119px;
	}
	.scholarship p{
		text-align: center;
		color: #cb50da;
		font-size: 18px;
		font-weight: bold;
		margin-top: 125px;	
	}
	.gender {
	float: left;
	width: 100%;
	margin-top: 75px;
	margin-bottom: 50px;
	}
	
	.page-our-supporters .intro p{
		font-size:13px;
	}
	
	/* PROJECTS */
	.og-grid li{
	/*	height:200px !important; */
	}
	.ch-item{
		width:180px !important;
		height:180px !important;
	}
	.og-grid li h3.title {
	top: -85px !important;
	font-size: 18px !important;
	}
	.og-expander h3{
		font-size:22px !important;
		font-family:CalibriRegular !important;
	}
	.og-details p{
		font-size:12px !important;
	}
	.project .intro{
		margin: 45px auto 15px auto !important;
	}
	.project .intro p{
		font-size:13px;
	}
	.page-banner h2{
		font-size:40px;
		bottom:30px;
	}
	.involve1 h2, .involve2 h2{
		font-size:28px;
	}
	.involve1 .intro p{
		font-size:13px;
		line-height:22px;
	}
	.involve2 p{
		font-size:12px;
	}
	.involve2 h3{
		font-size:60px;
	}
	.box-involved{
		min-height:190px;
	}
	.btn_vol1 h3, .btn_vol2 h3, .btn_vol1 h3:hover, .btn_vol2 h3:hover{
		font-size: 20px;
		margin: 0;		
		font-family:OpenSansLight;
	}
	.btn_vol1_small, .btn_vol1_small:hover, .btn_vol2_small, .btn_vol2_small:hover {
		font-size: 20px;
		padding: 22px 37px 0 18px;
		background-size: 92%;
		background-position-y: 9px;
		background-position-x: 9px;
		
	}
	.btn-link-vol{
		height:65px;
	}
	.link-involved{
		padding:15px 0;
	}
	.involve1 .intro{
		padding:50px 0 40px 0;
	}
	.involve2{
		padding:50px 0 15px;
	}
	.btn-link-vol span{
		line-height: 66px !important;
		font-size: 15px !important;
		color: #cdcdcd !;
		padding-right:0px !important;
	
	}
	.btn_vol1{	
		background-size: 100%;
		background-position: top;
		padding-top: 4px;
		float: right;
		position: absolute;
		padding-top: 10px;
		right: 190px;
		bottom:10px;
	}
	.btn_vol2{	
		background-size: 100%;
		background-position: top;
		padding-top: 10px;
		margin-right:25px;
		bottom:10px;
	}

	.btn_vol1 p, .btn_vol2 p{
		font-size:11px;
		font-family:CalibriRegular;
	}
	.banner-involved h2{
		font-size:40px;
	}
	.banner-involved h2{
		bottom:100px;
	}
	
	.btn_donate h1 {
		color: #47c5e6;
		text-transform: uppercase;
		font-size: 40px;
		margin: 0;
		line-height: 1em;
		background-color: rgba(255,255,255,0.9);
		border-radius: 5px;
		width: auto;
		margin-right: 23px;
		text-align: center;
		padding: 10px 15px 6px 15px;
	}
	.btn_donate {
		position: absolute;
		right: 25px;
		width:auto;
		bottom: 20px;
		background: none;
		height: 91px;
		padding-left: 30px;
		padding-top: 10px;
	}
	.donate-section1 .intro p {
		color: #606060;
		margin-bottom: 5px;
		font-size:13px;
	}
	.donate-section1 h2{
		font-size:35px;
	}
	.donate-page select, span.customSelect, .customSelectInner{
		width:100% !important;
	}
	.donate-section2 .large-6{
		width:33% !important;
	}
	.donate-section2 h2{
		font-size:40px;
	}
	/* Volunteer form */
	span.customSelect{
		height:55px;
	}
	.customSelectInner{
		height: 44px;
		line-height: 51px;
		padding: 0px;
		vertical-align: top;
		margin-top: 2px;
		font-size: 13px;
		background-position-y:16px;
	}
	.wpcf7-not-valid-tip-no-ajax{
		font-size:8pt !important;
	}
	div.wpcf7-validation-errors{
		font-size:12px !important;
	}
	
	.main-page-contact h2{
		font-size:30px;
		margin-bottom:40px;
	}
	
	.main-page-contact .large-6{
		width:33% !important;
	}
	.box-address h3{
		font-size:10px;
		letter-spacing:-1px;
	}
	.box-address p{
		font-size:8px;
		letter-spacing: -0.5px;
	}
	.box-address p img{
		margin:0px;
		width:10px;
		height:auto;
	}
	.box-address span{
		margin-top:0px;
		padding-right:20px;
	}
	textarea.message {
		height:171px !important;
	}
	.textarea{
		height:120px;
	}
	.main-page-contact input, .donate-page input{
		height:50px;
		font-size:12px;
		padding:15px;
	}
	.donate-section2{
		padding:40px 0;
	}
	input.btn_submit{
		padding:12px;
		height:40px;
		widows:108px;
	}
	textarea{
		font-size:12px;
		height:105px;
		padding:15px;
	}
	select{
		font-size:15px;
	}
	.title-page-key {
	margin: -37px auto 0 165px;
	width: 400px;
	}
	.bg-center{
		height:74px;
	}
	.og-expander-inner {
		padding: 50px 80px 50px 101px !important;
	}
	.image-gender img{
		width:50px;
		height:100px;
	}
	#map_canvas{
		height:250px !important;
	}
}
@media screen and (max-width: 768px) and (min-height: 510px){
	#thumb-tray {
		position: fixed;
		z-index: 3;
		top: 475px !important;
		box-shadow:0px 3px 7px #ccc;
	}
	#controls-wrapper{
		top:440px;
	}
	
	#supersized li{
		background-color:whitesmoke !important;
		height:590px !important;
	}
	#supersized{
		background-color:whitesmoke;
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px){
	.header{
		height: 80px;
	}
    .main-menu{
        margin-top: 28px;
    }
    .main-menu li{
        margin-right: 20px;
    }
    .main-menu li a{
        font-size: 18px !important;        
    }
    .search-box{
        margin-top: 5px;
    }
    .showproject{
        width: 75%;
    }
    .social{
        display: none;
    }
	
	.header {
        background: none repeat scroll 0 0 #FAFAFA;
        float: left;
        height: 75px;
        margin-top: -5px;
        overflow: hidden;
        width: 100%;
        position: relative;
        z-index: 10000;
    }

    #supersized a{
        cursor:default;
    }
    #supersized div.activeslide{
        display:block !important;
    }

    #supersized div.inner-content{
        display:none;
        position: absolute;
        left: 100px !important;
        top: 200px;
        width: 409px;
        height: 250px;
        padding: 20px;
    }
    #supersized div.inner-content-bg{
        display:block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 409px;
        height: 215px;
        background-color: orange;
        padding: 20px;
        border-radius:10px;
        opacity:0.9;
		filter: alpha(opacity=80);
		﻿-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	

    }
    #supersized div.inner-content .info{
        display:block;
        width:100%;
        height:215px;
        position:absolute;
        top:0px;
        left:0px;
        padding:5px 20px;
    }
    #supersized div.inner-content .info h4{
        color: white;
        font-size: 13px;
        font-style: italic;
        letter-spacing: 1px;
        padding-top: 5px;
    }

    #supersized div.inner-content .info h2{
        color: white;
        line-height: 40px;
        /*font-size: 39px;*/
font-size: 34px;
        margin-top: 10px;}

    #supersized div.inner-content .info a{
        border: solid 1px whitesmoke;
        width: 130px;
        height: 47px;
        padding: 11px;
        text-align: center;
        color: white;
        float: left;
        margin-right: 12px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 15px;
		cursor:pointer;
		transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s; /* Safari */
    }
    #supersized div.inner-content .info a:hover{
        background-color:white;
        color:orange;
    }

    .boxmenu, .boxmenumobile{
        margin-right:0px;
    }
    .menu-box{
        right:0px;
    }
    .icon-boxmenu{
        right:-12px;
    }


    /* HOME ----------------------*/
    .main-menu li{
        margin-right:25px !important;
    }

    #thumb-tray {
        height: 160px !important;
		padding-left: 80px !important;
		padding-right:125px !important;
    }

	 #thumb-list li{
	 	width:290px !important;
		margin-top:15px !important;
	 }
	 #thumb-list p{
		 padding-top:5px !important;
	 }
     #thumb-list h3 {
        background: url("../images/icon_next.png") no-repeat scroll right 3px transparent;
        color: #A8A8A8;
        float: left;
        font-size: 18px;
        margin-bottom: 5px;
        text-align: left;
        width: auto;
        line-height: 22px;
        padding: 0px;
		padding-right:30px;
    }

    #thumb-list p {
        color: #A8A8A8;
        float: left;
        font-size: 12px;
        margin-bottom: 0;
        text-align: left;
        width: 100%;
    }

    #thumb-back-bg{
        height: 126px;
        left: 0;
        width: 85px;
        z-index: 1000;
        background:url('../images/bg_thumhome.jpg') repeat;
        position:absolute;
    }
    #thumb-forward-bg{
        height: 126px;
        right: 0;
        width: 75px;
        z-index: 1000;
        background:url('../images/bg_thumhome.jpg') repeat;
        position:absolute;
    }
    #thumb-back, #thumb-forward{
        bottom:3px;
    }
    #thumb-back,#thumb-back:hover {
		left: 20px !important;
		top: 28px !important;
		z-index: 2000 !important;
    }

    #thumb-forward,#thumb-forward:hover {
		right: 20px !important;
		top: 23px;
		z-index: 2000 !important;
    }

    #thumb-list li:last-child{
        border-right:none;
    }
    #controls-wrapper{
        bottom:165px !important;
    }
    /* ABOUT ----------------------*/
	
	.menu-box li, .menu-box-mobile li{
		margin-top:0px;
		margin-bottom:0px;
	}
	.menu-box li a, .menu-box-mobile li a{
		font-size:12px;
	}
	.boxmenu, .boxmenumobile{
		padding-top:24px !important;
		font-size:14px;
	}
    .page-about-content p{
        font-size:14px;
		font-family:OpenSansRegular;
		line-height:24px;
    }
    .page-decription{
        width:45%;
    }
    .page-banner .page-decription p {
        color: #fff;
        font-family: OpenSansRegular;
        line-height: 1.4em;
        font-weight: normal;
		font-size:30px;
    }
	.social{
		margin-top:25px;
		display:none;
	}
	.page-about-team{
		margin-top:30px;
	}
	.title-page-boxmenu .title-page{
		font-size:40px;
		padding-top:10px;
	}
	.page-about-content{
		margin:20px 0;
	}
	.page-about-content h3{
		font-size:38px;
	}
	.page-content-about-team .content-team-detail p{
		font-size:16px;
	}
	.name-team{
		font-size:14px;
	}


	.page-about-content{
		min-height:130px;
		
	}
    /* KEY STATISTICS ----------------------*/
	.bg-center{
		font-size:25px;
	}
	.page-key-statistic h2{
		font-size:150px;
	}
    .gender p {
	font-size: 19px;
	line-height: 26px;
	margin-top:35px;
	}
    .gender h2{
        margin-right:5px;
		margin-top:35px;
    }
    .school p {
        font-size: 21px;
        padding-top: 0px;
        margin-top: 40px;
        font-family: OpenSansLight;
        text-align:center;
    }
	.number-provinces p{
		position: absolute;
		left: 143px;
		top: 0px;	
	}
    .school p strong{
        font-family:OpenSansRegular;
    }
	.number-student{
		background-size:70%;
		position:absolute;
		right:37px;
	}
	.number-student h2{
		font-size:110px !important;
	}
	.number-student h2 p.text-sutdent{
		font-size:35px;
	}
    .number-pass p {
        font-size: 22px;
        margin-top: 79px;
    }
    .number-pass p strong{
        font-size:30px;
    }
    .number-student p {
        color: #3dd0ba;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.2em;
        margin-bottom: 0;
        margin-left: 260px;
        margin-top: 109px;
    }
	.number-student p span{
		font-size:26px !important;
	}
	.number-pass{
		margin-left:20px;
		background-position: center;
		height: 295px;
		margin-top: 30px;
		background-size: 80%;
	}
	.number-pass h2{
		font-size:100px;
	}
	.number-pass p strong{
		font-size:26px;
	}
	.phantram_toilet{
		font-size:50px;
	}
	
    .toilet p {
        margin-bottom: 13px;
        float: left;
        width: 100%;
        color: #acaaa9;
        font-weight: bold;
        font-size: 16px !important;
    }
    .info-toilet {
        margin-top: 10px;
        float: left;
        margin-left: 10px;
		font-size:16px;
    }

	.toilet .ptop{
		margin-top:0px;
	}

	.vietnam{
		background-size:50%;
		height:310px;
	}
    .box-address h3{
        font-size:14px;
    }
    ul#thumb-list li{
        width:275px;
		height:108px !important;
    }
	.box-new h3 a{
		font-size:29px;
	}
	.box-new p{
		font-size:16px;
	}
	.content-new-detail p{
		font-size:16px;
	}
	.main-page-new h3{
		font-size:36px;
	}
	.involve3 {
		float: left;
		width: 100%;
		background: url('../images/involved3_bg.jpg') repeat left;
		padding: 45px 0 50px;
		border-bottom: 3px solid #c9c9c9;
		position: relative;
		box-shadow: 1px 1px 50px #ccc inset;
	}
	.donate-page select{
		height: 74px;
		color: #999;
		font-size: 18px;
		text-indent: 26px;
		text-transform: uppercase;
		background-color: white;
	}
	
	#slideshow-wrapper .imgnav{
		height:100%;
	}
	
	#supersized li{
		top:70px !important;
	}
	#supersized li.top img{
		top:0px !important;
	}
	
	#supersized li.middle img{
		bottom:225px !important;
		position:absolute;
	}
	
	#supersized li.bottom img{
		bottom:230px !important;
		position:absolute;
	}
	.vietnam {
	padding-left: 49px;
	padding-right: 119px;
	}
	.scholarship p{
		text-align: center;
		color: #cb50da;
		font-size: 22px;
		font-weight: bold;
		margin-top: 125px;	
	}
	.gender {
	float: left;
	width: 100%;
	margin-top: 75px;
	margin-bottom: 50px;
	}
	
	.page-our-supporters .intro p{
		font-size:15px;
	}
	
	.project .intro p{
		font-size:15px;
	}
	.page-banner h2{
		font-size:60px;
	}
	.og-details p{
		font-size:15px !important;
	}
	.involve1 h2, .involve2 h2{
		font-size:40px;
	}
	.involve1 .intro p{
		font-size:17px;
		line-height:30px;
	}
	.involve2 p{
		font-size:15px;
	}
	.involve2 h3{
		font-size:60px;
	}
	.box-involved{
		min-height:190px;
	}
	.btn_vol1 h3, .btn_vol2 h3, .btn_vol1 h3:hover, .btn_vol2 h3:hover{
		font-size: 30px;
		margin: 0;		
	}
	.btn_vol1_small, .btn_vol1_small:hover, .btn_vol2_small, .btn_vol2_small:hover {
		font-size: 30px;
		padding: 22px 37px 0 18px;
		background-size: 92%;
		background-position-y: 9px;
		background-position-x: 9px;
		
	}
	.btn_vol1{	
		background-size: 100%;
		background-position: top;
		padding-top: 4px;
		float: right;
		position: absolute;
		padding-top: 10px;
		right: 250px;
		bottom:10px;
	}
	.btn_vol2{	
		background-size: 100%;
		background-position: top;
		padding-top: 10px;
		margin-right:25px;
		bottom:10px;
	}

	.btn_vol1 p, .btn_vol2 p{
		font-size:17px;
	}
	.banner-involved h2{
		font-size:60px;
	}
	.banner-involved h2{
		bottom:100px;
	}
	
	.btn_donate h1 {
		color: #47c5e6;
		text-transform: uppercase;
		font-size: 60px;
		margin: 0;
		line-height: 1em;
		background-color: rgba(255,255,255,0.9);
		border-radius: 5px;
		width: auto;
		margin-right: 23px;
		text-align: center;
		padding: 10px 15px 6px 15px;
	}
	.btn_donate {
		position: absolute;
		right: 25px;
		width:auto;
		bottom: 50px;
		background: none;
		height: 91px;
		padding-left: 30px;
		padding-top: 10px;
	}
	.donate-section1 .intro p {
	color: #606060;
	margin-bottom: 5px;
	font-size:18px;
	}
	.donate-section1 h2{
		font-size:40px;
	}
	.donate-page select, span.customSelect, .customSelectInner{
		width:100% !important;
	}
	.donate-section2{
		padding:50px;
	}
	.donate-section2 .large-6{
		width:33% !important;
	}
	.donate-section2 h2{
		font-size:40px;
	}
	.main-page-contact h2{
		font-size:40px;
	}
	
	.main-page-contact .large-6{
		width:33% !important;
	}
	.box-address h3{
		font-size:13px;
		letter-spacing:-1px;
	}
	.box-address p{
		font-size:11px;
		letter-spacing: -0.5px;
	}
	textarea.message {
		height:171px !important;
	}
	.textarea{
		height:120px;
	}
	.main-page-contact input, .donate-page input{
		height:50px;
		font-size:15px;
	}
	textarea{
		font-size:15px;
		height:105px;
	}
	select{
		font-size:15px;
	}
	.title-page-key {
	margin: -38px auto 0;
	}
	
	.bg-center{
		height:74px;
	}
	.og-expander-inner {
		padding: 50px 80px 50px 101px !important;
	}

}
/*and (max-width: 1366px) @media screen and (min-width: 1280px) */

@media screen and (min-width: 1025px)
{
    .header {
        background: none repeat scroll 0 0 #FAFAFA;
        float: left;
        height: 75px;
        margin-top: -5px;
        overflow: hidden;
        width: 100%;
        position: relative;
        z-index: 10000;
    }

    #supersized a{
        cursor:default;
    }
    #supersized div.activeslide{
        display:block !important;
    }

    #supersized div.inner-content{
        display:none;
        position: absolute;
        left: 100px !important;
        top: 200px;
        width: 409px;
        height: 250px;
        padding: 20px;
    }
    #supersized div.inner-content-bg{
        display:block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 409px;
        height: 215px;
        background-color: orange;
        padding: 20px;
        border-radius:10px;
        opacity:0.9;
		filter: alpha(opacity=80);
		﻿-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	

    }
    #supersized div.inner-content .info{
        display:block;
        width:100%;
        height:215px;
        position:absolute;
        top:0px;
        left:0px;
        padding:5px 20px;
    }
    #supersized div.inner-content .info h4{
        color: white;
        font-size: 13px;
        font-style: italic;
        letter-spacing: 1px;
        padding-top: 5px;
    }

    #supersized div.inner-content .info h2{
        color: white;
        line-height: 40px;
        /*font-size: 39px;*/
font-size: 34px;
        margin-top: 10px;}

    #supersized div.inner-content .info a{
        border: solid 1px whitesmoke;
        width: 130px;
        height: 47px;
        padding: 11px;
        text-align: center;
        color: white;
        float: left;
        margin-right: 12px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 15px;
		cursor:pointer;
		transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s; /* Safari */
    }
    #supersized div.inner-content .info a:hover{
        background-color:white;
        color:orange;
    }

    .boxmenu, .boxmenumobile{
        margin-right:0px;
    }
    .menu-box{
        right:0px;
    }
    .icon-boxmenu{
        right:-12px;
    }


    /* HOME ----------------------*/
    .main-menu li{
        margin-right:25px !important;
    }

    #thumb-tray {
        bottom: 0 !important;
        height: 115px !important;
        left: 0;
        overflow: hidden;
        padding: 18px 80px 20px 80px;
        position: fixed;
        text-align: center;
        width: 100%;
        z-index: 3;
    }
	#thumb-list li{
		margin-top:0px !important;
	}
	#thumb-list p{
		padding-top:0px !important;
	}

    #thumb-list h3 {
        background: url("../images/icon_next.png") no-repeat scroll right 3px transparent;
        color: #A8A8A8;
        float: left;
        font-size: 18px;
        margin-bottom: 5px;
        text-align: left;
        width: auto;
        line-height: 22px;
        padding: 0px;
		padding-right:30px;
    }

    #thumb-list p {
        color: #A8A8A8;
        float: left;
        font-size: 12px;
        margin-bottom: 0;
        text-align: left;
        width: 100%;
    }

    #thumb-back-bg{
        height: 126px;
        left: 0;
        width: 100px;
        z-index: 1000;
        background:url('../images/bg_thumhome.jpg') repeat;
        position:absolute;
    }
    #thumb-forward-bg{
        height: 126px;
        right: 0;
        width: 75px;
        z-index: 1000;
        background:url('../images/bg_thumhome.jpg') repeat;
        position:absolute;
    }
    #thumb-back, #thumb-forward{
        bottom:3px;
    }
    #thumb-back,#thumb-back:hover {
		left: 39px !important;
		top: 4px !important;
		z-index: 2000 !important;
    }

    #thumb-forward,#thumb-forward:hover {
		right: 10px !important;
		top: 0;
		z-index: 2000 !important;
    }

    #thumb-list li:last-child{
        border-right:none;
    }
    #controls-wrapper{
        bottom:120px !important;
    }
    /* ABOUT ----------------------*/
    .page-about-content p{
        font-size:18px;
		font-weight:lighter;
    }
    .page-decription{
        width:45%;
    }
    .page-banner .page-decription p {
        color: #fff;
        font-family: OpenSansRegular;
        line-height: 1.4em;
        font-weight: normal;
    }
	.social{
		margin-top:25px;
		display:none;
	}

    /* KEY STATISTICS ----------------------*/
    .gender p{
        font-size:25px;
    }
    .gender h2{
        margin-right:5px;
		margin-top:-33px;
    }

    .school p {
        font-size: 25px;
        padding-top: 15px; 
        font-family: OpenSansLight;
        text-align:center;
    }
    .school p strong{
        font-family:OpenSansRegular;
    }
    .number-pass p {
        font-size: 24px;
        margin-top: 79px;
    }
    .number-pass p strong{
        font-size:30px;
    }
    .number-student p {
        color: #3dd0ba;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.2em;
        margin-bottom: 0;
        margin-left: 355px;
        margin-top: 109px;
    }

    .toilet p {
        margin-bottom: 13px;
        float: left;
        width: 100%;
        color: #acaaa9;
        font-weight: bold;
        font-size: 20px !important;
    }
    .info-toilet {
        margin-top: 20px;
        float: left;
        margin-left: 10px;
    }

	.box-address span{
		margin-top:0px;
		padding-right:20px;
	}
	
    .box-address h3{
        font-size:14px;
    }
    ul#thumb-list li{
        width:275px;
    }
	.box-new h3 a{
		font-size:29px;
	}
	.box-new p{
		font-size:16px;
	}
	.content-new-detail p{
		font-size:16px;
	}
	.main-page-new h3{
		font-size:36px;
	}
	.involve3 {
		float: left;
		width: 100%;
		background: url('../images/involved3_bg.jpg') repeat left;
		padding: 45px 0 50px;
		border-bottom: 3px solid #c9c9c9;
		position: relative;
		box-shadow: 1px 1px 50px #ccc inset;
	}
	.donate-page select{
		height: 74px;
		color: #999;
		font-size: 18px;
		text-indent: 26px;
		text-transform: uppercase;
		background-color: white;
	}
	
	#slideshow-wrapper .imgnav{
		height:100%;
	}
	
	#supersized li{
		top:70px !important;
	}
	#supersized li.top img{
		top:0px !important;
	}
	
	#supersized li.middle img{
		bottom:180px !important;
		position:absolute;
	}
	
	#supersized li.bottom img{
		bottom:160px !important;
		position:absolute;
	}
}

/*and  (max-width: 1600px){*/
@media all and (min-width: 1360px) {
	
/* HOME */
#thumb-forward-bg{
	width:77px;
}
.toilet p{
font-size:22px !important;
}
.page-decription{
    width:50%;
}

.toilet .ptop{
    margin-top:7px;
}
ul#thumb-list li{
    width:395px !important;
}

.page-decription{
    width:45%;
}
.number-pass p{
    font-size:23px;
}
.toilet p{
    font-size:22px;
}
.phantram_toilet{
    font-size:68px;
}
.og-grid li h3.title{
position: absolute;
width: 210px;
z-index: 1000;
/*top: -137px;*/
top: 130px;
left: -115px;
float: left;
color: white;
font-size: 27px;
opacity: 0;
line-height: 27px;}

.og-grid li h3.title{
	/*left:-141px;
left:-115px;*/
      left: 72px;
}

}
@media screen and (-webkit-min-device-pixel-ratio:0) {
        .search-box{
        margin-top: 5px !important;
    }
	.social {
margin-top: 20px;
}
#thumb-list{
	margin-top:10px;
}


}


@media all and (min-width: 1400px){
.main-menu{
	margin-top:28px;
}
ul#thumb-list li {
width: 420px !important;
}
#thumb-forward-bg {
	width: 83px;
}
.page-banner .page-decription p{
    font-size: 34px !important;
	margin-top:60px !important;
}
.page-content-about-team .content-team-detail p{
    font-size: 18px;
}
.bg-center{
	font-size:45px;
}
.vietnam{
	padding-right:170px;
}
.project .intro p{
	font-size:18px;
}
.og-grid li h3.title {
	padding-left:15px;
}
.box-address p {
	font-size: 13px;
	color: #707774;
	letter-spacing:-1px;
}
.btn_vol1{
	right: 348px;
	width: 305px;
}

.btn_vol2{
	right: 25px;
	width: 305px;
}
.involve1 h2, .involve2 h2{
	font-size:50px;
}
.involve1 .intro p {
	font-size: 18px;
	line-height: 30px;
}
.involve2 h3{
	font-size:70px;
}
.btn_donate {
	right: 35px;
	bottom: 77px;
	border-radius: 5px;
	width:auto;
}
.customSelect, .customSelectInner, .wpcf7-select{
	width:100% !important;
}
.btn_vol2_small, .btn_vol2_small:hover{
	padding:24px 94px 0 23px;
}
.volunteer h1 {
padding: 0 20px 0 17px;
}

.name-team{
	font-size:20px;
}

ul#thumb-list li{
	width:325px !important;
}
.number-gender{
	margin-top:25px;
}
.number-student h2 {
color: #3dd0ba;
font-size: 160px;
margin-left: 60px;
margin-top: 97px;
}
.number-student h2 p.text-sutdent{
	font-size:37px;
}
.btn_donate {
	padding-top: 13px;
	padding-right: 30px;
}
}

@media all and (min-width: 1500px){
  body{
	background-color:#EDEBEB !important;
  }
  .header, .line, .footer, .og-grid, .involve1, .involve2, .link-involved, .donate-page , .main-page-contact, .og-expander{
   max-width:1600px;
   float:none;
   margin:auto;
  }
  .og-grid {
  position:relative;
  }
  .line{
  top:0px !important;
  position:relative;
  }
  .row{
	/*border-left:solid 1px #dedede;
	border-right:solid 1px #dedede;*/
  }
  .main-content .row{
  background-color:white;
  }
	/* HOME */
	#lang_sel_list ul{
		width:100%;
	}

	ul#thumb-list li {
		width: 360px !important;
	}
	/* ABOUT */
	.page-about-content p {
	font-size: 18px;
	}
	.page-banner, .banner-involved, .banner-donate, .ch-grid, .main-page-project, .inner-holder{
		float:none;
		max-width:1600px;
		margin:auto;
	}
		
	.page-banner .page-decription p{
		font-size:38px;
		margin-top:100px;
	}
	.page-content-about-team .content-team-detail h3{
		font-family:OpenSansSemiBold;
	}
	.box-address h3{
		font-size:17px;
	}
	.bg-left {
		width: 43px;	
	}
	.og-grid li h3.title{
		padding-left:0px !important;
		width:100% !important;
		font-size:22px !important;
		text-align:center !important;
		left:0px !important; 
	}
	.btn_vol2_small, .btn_vol2_small:hover {
	padding: 24px 127px 0 23px;
	}
	.btn_donate h1{
		padding-right:20px;
	}
	.box-address h3 {
		font-size: 18px;
	}
	.box-address p {
		font-size: 16px;
		color: #707774;
		letter-spacing: -1px;
	}
	
	.text-sutdent{
		margin-top: 1px !important;
		text-align: center;
	}
	
	
}

@media all and (min-width: 1900px){
	.search-box {
		margin-top: 15px !important;
	}
	#supersized div.inner-content{
		left:12% !important;
		top:25%;
	}
	
	.page-banner img{
		width:100%;
	}
	.page-banner .page-decription p{
	/*	font-size:46px;*/
	/*	margin-top:90px;*/
	}
	.page-about-content p {
		font-size: 22px;
	}
	.bg-left, .bg-right, .bg-center {
		height:74px;
	}
	.og-grid li h3.title{
		left: 0px;
		width: 100% !important;
		padding: 0px;
	}
	#supersized div.inner-content-bg{
		width: 600px;
		height: 315px;
	}
	#supersized div.inner-content .info h2 {
		color: white;
		line-height: 57px;
		font-size: 39px;
		font-size: 50px;
		margin-top: 20px;
		margin-bottom: 45px;
	}
	#supersized div.inner-content .info{
		padding:15p 30px;
	}
	#supersized div.inner-content .info a {
		width: 174px;
		height: 60px;
		font-size: 20px;
		padding-top:13px;
	}
	#supersized div.inner-content{
		width:600px;
	}
	.header{
		height:105px;
	}
	.logo {
		height: 90px;
		margin-top: 27px;
	}
	.main-menu li a{
		font-size:24px;
	}
	.main-menu {
	margin-top: 34px;
	}
	#supersized div.inner-content .info h4{
		font-size:20px;
	}
	#thumb-tray{
		height:215px !important;
		padding:25px 100px !important;
	}
	ul#thumb-list li{
		height:185px  !important;
	}
	#thumb-list li h3{
		font-size:30px  !important;
		margin-bottom:15px  !important;
	}
	#thumb-list p{
		font-size:17px  !important;
	}
	#controls-wrapper {
		bottom: 223px !important;
		left:-215px !important;
	}
	#supersized li.bottom img {
		bottom: 260px !important;
	}
	
	/* ABOUT */
	.page-content-about-team .content-team-detail h3{
		font-size:32px;
	}
	.page-content-about-team .content-team-detail p{
		font-size:22px;
	}
	.name-team {
		font-size:22px;
	}
	.page-career h3{
		font-size:32px;
	}
	.page-career p{
		font-size:22px;
		margin-bottom:50px;
	}
	.page-our-supporters .intro p, .project .intro p{
		font-size:22px;
		line-height:40px;
	}
	.og-details {
		padding: 0 160px 30px 176px !important;
	}
	.og-details h3{
		font-size:40px !important;
		margin-top:15px !important;
	}
	.og-details p{
		font-size:22px !important;
	}
	.btn_vol2_small, .btn_vol2_small:hover {
	padding: 24px 127px 0 23px;
	}
	.donate-section2 h2{
		margin-top: 0px;
	}
	.btn_donate{
		right:50px;
		bottom:50px;
		padding-left:0px;
		text-align:center;
	}
	.donate-section1 .intro p{
		font-size:22px;
	}
	#thumb-back, #thumb-back:hover{
		top:50px !important;
	}
	#thumb-forward, #thumb-forward:hover{
		top:50px !important;
	}
	ul#thumb-list li {
		width: 350px !important;
	}
	#thumb-back-bg,#thumb-forward-bg{
		height:175px;
	}
	.line{
		top:100px;
	}

	#swipe_area{
		height:60% !important;
	}
	
	.box-involved{
	min-height:310px;
	}
}



/*  IE10 -----------------------------------*/

.ie10  .main-menu li a{
    font-family: Calibri;
}

.ie10 .page-banner h2{
    font-family: Calibri;
}
.ie10 h1{
    font-family: Calibri;
}
.ie10 h2{
    font-family: Calibri;
}
.ie10 h3{
    font-family: Calibri;
}
.ie10 .main-menu li a{
    font-family: Calibri;
}
.ie10 .banner-involved h2{
    font-family: Calibri;
}
.ie10 .btn_vol1 h3,.ie10 .btn_vol2 h3{
    font-family: Calibri;
}
.ie10 .btn_vol1 h3:hover,.ie10 .btn_vol2 h3:hover{
    font-family: Calibri;
}
.ie10 .btn_vol1 p,.ie10 .btn_vol2 p{
    font-family: Calibri;
}
.ie10 .btn_vol1_small{
    font-family: Calibri;
}
.ie10 .btn_vol1_small:hover{

    font-family: Calibri;
}
.ie10 .btn_vol2_small{
    font-family: Calibri;
}
.ie10 .btn_vol2_small:hover{
    font-family: Calibri;
}
.ie10 .page-about-content p{
    font-family: Calibri;
}
.ie10 .page-career p{
    font-family:Calibri;
}
.ie10 .title-page{
    font-family:Calibri;
}

.﻿number-gender-ie10{
	top:-20px !important;
}

#﻿number-gender-ie{
		margin-top:-25px !important;
}
.ie10 .﻿number-school p{
	margin-top:-25px;
}

.ie10 .number-student h2{
	margin-top:90px !important;
}
.ie10 .ptop{
	margin-top:-18px;
}
.ie10 #number-student-p-ie10{
	margin-top:-10px;
	font-size:48px;
}
.language a{
	background-color:transparent !important;
}
.ie10 #﻿IE8-vietnam-div{
	margin-right:50px !important;
	color:red;
}