@font-face {
    font-family: 'Conv_EurostileLTStd';
    src: url('fonts/EurostileLTStd.eot');
    src: local('☺'), url('fonts/EurostileLTStd.woff') format('woff'), url('fonts/EurostileLTStd.ttf') format('truetype'), url('fonts/EurostileLTStd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body *{
    font-family:Helvetica, Arial, sans-serif;

}
h1,h2,h3,h4{
    font-family:'Conv_EurostileLTStd';
}
h2{
    color: #2fa1ae;
    font-size: 28px;
    font-weight: normal;
    height:25px;

}
h3{
    font-size: 24px;
    color: #666;
    font-weight:normal;
}
hr{
    border-top: dotted 1px #CCB;/*80c557*/
    margin-top:0px;
}
hr.green{
    border-top: dotted 1px #17b384;
}
.row_background{
    background-color:#A7E3FB;
}
.row_background .row{
    background-color:white;	
}
.row_logo{
    padding:30px 0;
    background-color:white;
}
.row_breadcrumbs{
    height:44px;
    background-color:#eeeeee;
    overflow:hidden;
    border-top:solid 2px  white;
    border-bottom:solid 2px  white;
}
.row_main_menu{
    background:url(images/main-nav-bg.jpg) 0 0 repeat-x transparent;
}
.row_main_menu .large-12{
    padding-left:0px;
    padding-right:0px;
}

.row_main_menu li{
    display: block;
    float: left;
    height: 62px;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 29px;
}
.row_main_menu li:hover, .row_main_menu li.active{
    background:url(images/main-nav-bg-hover.png) 0 0 repeat-x;
}
.row_main_menu li a{
    color:white;
    font-family: 'Conv_EurostileLTStd';
    font-size:16px;
}

.row_main_menu li.divider{
    display:block;
    float:left;
    padding:0;
    width:0px;
    border-left:solid 1px white;
    border-top:solid 5px transparent;
    border-bottom:solid 5px transparent;
}
.main_menu{
    margin-bottom:0px;
    height:62px;
    background:url(images/main-nav-bg.jpg) 0 0 repeat-x transparent;
}
.main_menu  ul{
    background:none !important;
}
.main_menu  section li a{
    font-family:'Conv_EurostileLTStd';
    font-size:15px;
    padding-top:13px !important;
    background:none !important;
}
.main_menu li.divider{
    border-bottom: solid 5px transparent !important;
    border-top: solid 5px transparent;
    border-right: solid 1px white;
    border-left: white;
    clear: none;
    height: 62px;
    width: 0px;

}
.breadcrumbs{
    height: 44px;
    border:none;
    padding-top:12px;
}

.top-bar .toggle-topbar.menu-icon{
    right: 15px;
    top: 50%;
    margin-top: -13px;
    padding-left: 40px;
}
.top-bar .title-area {
    position: relative;
    height: 62px;
}

.main_banner{
    max-width:1024px;
    text-align:center;
    margin:0 auto;
}
/* FOOTER -------------------------------- */
.footer_banner{
    margin-top:-4px;
}
.footer_banner h2{
    color: white;
    font-size: 18px;
    font-weight: lighter;
    padding-top: 15px;
    padding-left: 30px;
    height: 52px;
    margin-bottom: 0px;
    background: url(images/arrow-right.png) 95% 15px no-repeat;

}

.footer_banner div.bg{
    background: url(images/main-nav-bg.jpg) 0 0 repeat-x transparent;
}

.footer_banner .right_arrow{
}

.footer_banner .left{
    padding-right:0px;
    padding-left:0px;
    width:32.3333%;
}
.footer_banner .left:hover div.bg, .footer_banner .center:hover div.bg, .footer_banner .right:hover div.bg{
    background: url(images/main-nav-bg-hover.png) 0 0 repeat-x transparent;

}
.footer_banner .center{
    padding-left:0;
    padding-right:0;
    border-left:solid 2px white;
    border-right:solid 2px white;
    width:35.3333%;
}
.footer_banner .right{
    padding-left:0px;
    padding-right:0px;
    width:32.3333%;

}
.footer_banner li.border_right{
    border-right:solid 2px white;
}

.footer_banner img{
    border-top:solid 2px white;
}

.row_footer{
    background: url(images/footer_bg.png) 0 0 repeat-x white;
    padding-top: 55px;
    padding-bottom: 27px;
    padding-left: 15px;
    padding-right: 15px;
}

.row_footer h4{
    color: #30a2af;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;;
}
.row_footer p{
    font-size:10px;
    color:#666;
}
.row_footer a.find_us_facebook{
    display:block;
    width:116px;
    height:40px;
    background:url(../_docs/Ice/find-us-social.png) 0 0 no-repeat;
}
.row_footer a.find_us_twitter{
    display:block;
    width:116px;
    height:40px;
    background:url(../_docs/Ice/find-us-social.png) 0 -38px no-repeat;
}
.row_copywrite{
    background-color:white;
    padding-bottom:40px;
}
.row_copywrite p{
    font-size:10px;
}

.policy_image{
    background:url(images/footer-logo.png) 0 0 no-repeat;
    width:85px;
    height:85px;
    -webkit-filter: grayscale(100%); 
}

.policy_image:hover{
    -webkit-filter: grayscale(0%);
}

.hosting1{
    background:url(images/host_logo.png) 0 0 no-repeat;
    padding-left:20px;
}
.hosting img{
}

/* MAIN CONTENT -------------------------*/
.main_content{
    padding-top:30px;
    padding-bottom:30px;
    background-color:white;
}
.main_content *{
    font-family: Helvetica, Arial, sans-serif;
}
.main_content p{
    font-size: 12px;
    text-align: justify;
    line-height: 17px;
    margin-bottom: 18px;
    color:#666;
}
.post_content table{
    border:none;
    width:100%;
    margin-bottom:-10px;
}
.post_content li{
    list-style-image: url(images/bullet.png);
    font-size: 12px;
    color: #666;
    line-height: 16px;
    padding-top: 5px;
}



/* SIDE NAV ------------*/
.main_content .side-nav{
    margin-right:-25px;
}

.main_content .side-nav li{
    background:url(images/side-menu-bg.png) 0 0 repeat-x;
    height:50px;
    margin-bottom:0px;
}
.main_content .side-nav li img{
    float:left;
    padding-left:20px;
    padding-top:15px;
}
.main_content .side-nav li a{
    float: left;
    font-family: 'Conv_EurostileLTStd';
    color: white;
    padding-top: 16px !important;
    padding-left: 20px;
    font-size:16px;
}
.main_content .side-nav li.divider{
    border-top: 2px solid white;
    height: 0;
    padding: 0;
    list-style: none;
}
.main_content .side-nav .subscribe_box{
    background-color:#19B384;
    height:224px;
}
.main_content .side-nav .subscribe_box_push_top{
    margin-top:10px;
}
/*
.main_content .side-nav label {
float: left;
color: white;
padding-left: 20px;
padding-top: 5px;
width: 54px;
}
.main_content .side-nav input{
        float: left;
        width: 210px;
        margin-left: 8px;
        border: none;
}*/

.main_content .side-nav table td div.button_holder{
    width:80%;
}

.main_content .side-nav button{
    background:url(images/subscribe-btn-bg.png) 0 0 repeat-x;
    float: right;
    border: none;
    box-shadow: none;
    height:34px;
    font-weight:normal;
    font-size:13px;
    color:whitesmoke;
}
.main_content .subscribe_box table{
    border: none;
    background: none;
    width: 100%;
    margin-top: 15px;

}
.main_content .subscribe_box table tr{
    background:none;
}
.main_content .subscribe_box table td{
    padding:0px;
    padding-bottom:5px;
}
.main_content .subscribe_box table td.first{
    width:60px;
}
.main_content .subscribe_box table td label{
    padding-left: 19px;
    color: white;
    font-size: 12px;
    line-height: 6px;
    height: 10px;
}

.main_content .subscribe_box table td input{
    width: 80%;
    height: 30px;
    border: none;
}


.main_content .subscribe_box_footer{ 
    background:url(images/subscribe-footer-bg.png) right no-repeat;
    height:16px;
}
/* ABOUT US -----------------------------------------*/
.select_menu{
    display: block;
    border: solid 1px #999;
    width: 129px;
    height: 33px;
    font-size: 12px;
    padding: 10px;
    float: right;
    top: 56px;
    position: absolute;
    right: 14px;
    background: url(images/arrow_down.png) 108px 10px no-repeat;
}

/* HOME PAGE -----------------------------------------*/
.home{
    padding-top:30px;
    padding-right:15px;
    margin-top:-1px;
}
.home_button{
    margin-bottom:80px;
}
.home_button hr{
    margin-bottom:10px;
    margin-left:-15px;
}
.home_button img{
    margin-top:-3px;
}
.home_button a{
    padding-left:18px;
}

.home_subscribe table{
    border:none;
    margin-top:20px;
    width:100%;
}


.home_subscribe table tr{
    background:none;
}
.home_subscribe table td{
    padding:0px;
    padding-bottom:5px;
}
.home_subscribe table td.first{
    width:40px;
}
.home_subscribe table td label{
    color: #666;
    font-size: 12px;
    line-height: 6px;
    height: 10px;
}

.home_subscribe table td input{
    width: 100%;
    height: 30px;
    border: none;
}

.home_subscribe button{
    background:url(images/main-nav-bg.jpg) 0 0 repeat-x;
    float: right;
    border: none;
    box-shadow: none;
    height:34px;
    font-weight:normal;
    font-size:13px;
    color:whitesmoke;
}
.home_subscribe button:hover{
    background:url(images/main-nav-bg-hover.png) 0 0 repeat-x;
    float: right;
    border: none;
    box-shadow: none;
    height:34px;
    font-weight:normal;
    font-size:13px;
    color:whitesmoke;
}

/* MEET THE TEAM -----------------------------------------*/
.meet_team .link_left{
    background: url(images/meet-the-team-button-bg.png) 0 0 repeat-x;
    width: 150px;
    height: 100px;
    float: left;
    position: absolute;
    top: 300px;
    display: block;
    left: -10px;
    padding-left: 28px;
    padding-top: 15px;
    font-size: 18px;
    line-height: 22px;
}
.meet_team .link_left .arrow{
    background: url(images/join-team.png) 0 0 no-repeat;
    display: block;
    width: 50px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: -50px;
}
.meet_team .link_left .shadow{
    background: url(images/reg-shadow-left.png) 0 0 no-repeat;
    position: absolute;
    left: 0px;
    top: 73px;
    width: 20px;
    height: 20px;
    display: block;
}

.meet_team .link_left a{
    color:white;
}

.meet_team .link_right{
    background: url(images/meet-the-team-button-bg.png) 0 0 repeat-x;
    width: 150px;
    height: 100px;
    float: right;
    position: absolute;
    top: 300px;
    display: block;
    right: -10px;
    padding-left: 28px;
    padding-top: 15px;
    font-size: 18px;
    line-height: 22px;
}

.meet_team .link_right a{
    color:white;
}
.meet_team .link_right .shadow{
    background: url(images/reg-shadow-right.png) 0 0 no-repeat;
    position: absolute;
    right: -10px;
    top: 73px;
    width: 20px;
    height: 20px;
    display: block;
}


.meet_team .chart{
    display: block;
    width: 550px;
    height: 550px;
    background-color: whitesmoke;
    margin-left: 210px;
    background:url(../data_images/team-chart.png) 0 0 no-repeat;
}

.meet_team .chart div.holder{
    display:block;
    position:absolute;

}
.meet_team .chart a.show_border{
    border:solid 1px yellow;

}
.meet_team .chart a.circle{
    display:block;
    position:absolute;
    width:30px;
    height:30px;
    border-radius:15px;
    padding:10px;
}

.meet_team .chart a.circle div.profile{
    min-width: 230px;
    float: left;
    padding: 10px;
    border: solid 1px #17b384;
    position:absolute;
    z-index:2;

}
.meet_team .chart a.circle div.transparent{
    display:block;
    position:absolute;
    width:200px;
    height:50px;
    background-color:white;
    opacity:.5;
    z-index:1;
}

.meet_team .chart a.circle div.info{
    margin-left:75px;
}


.meet_team .chart a.circle div.profile img{
    width:63px;
    height:63px;
    float:left;

}
.meet_team div.info span.title{
    color:#2fa1ae;
    display:block;
}

.meet_team div.info span.location{
    color: #666;
    display: block;
    font-size: 12px;
    padding-top: 4px;
}

.meet_team div.info span.view{
    color: #17b384;
    display: block;
    font-size: 12px;
    padding-top: 5px;
}


.meet_team div.toggle_area{
    display:none;

}
.meet_team .active div.toggle_area{
    display:block !important;

}

.orbit-container .orbit-next{
    opacity:0;
}
.orbit-container .orbit-next:hover{
    opacity:1;
}
.orbit-container .orbit-prev{
    opacity:0;
}
.orbit-container .orbit-prev:hover{
    opacity:1;
}

.row_breadcrumbs .large-12{
    padding-left:0px;
    padding-right:0px;
}
div.wpcf7-mail-sent-ok{
    border: none !important;
    margin-top: 18px !important;
    padding: 10px 0 !important; 
}