/* 
    Document   : style_alt
    Created on : Aug 9, 2013, 12:15:22 AM
    Author     : NgocHai
    Description:
        Purpose of the stylesheet follows.
*/

@media screen and (min-width: 769px){

    .footer_banner h2 {
        color: white;
        font-size: 18px;
        font-weight: lighter;
        padding-top: 15px;
        padding-left: 30px;
        height: 52px;
        margin-bottom: 0px;
        /*background: url(images/arrow-right.png) 95% 15px no-repeat*/
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .main_content .side-nav li a {
        float: left;
        font-family: 'Conv_EurostileLTStd';
        color: white;
        padding-top: 16px !important;
        padding-left: 20px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .back_to_top {
        background: url(../images/arrow_up.png) right 6px no-repeat;
        text-align: right;
        font-size: 10px;
        color: #999;
        line-height: 22px;
        cursor:pointer;
    }

    .back_to_top a{
        cursor:pointer;
    }
    .row_main_menu li {
        display: block;
        float: left;
        height: 62px;
        padding-top: 20px;
        padding-left: 22px;
        padding-right: 22px;
        border-right: 1px solid white;
    }

    .row_main_menu li a {
        color: white;
        font-family: 'Conv_EurostileLTStd';
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .meet_team .chart {
        display: block;
        width: 550px;
        height: 550px;
        /*background-color: whitesmoke;*/
/*        margin-left: 230px;*/
        /*background: url(../images/team-chart.png) 0 0 no-repeat;*/
    }

    .sub-menu li {
        width: 300px;
        text-align: center;
    }


    .footer_banner .left {
        padding-right: 0px;
        padding-left: 0px;
        /*width: 33.3333%;*/
        border-right: solid 1px white;
    }

    .footer_banner .center {
        padding-left: 0;
        padding-right: 0;
        border-left: solid 1px white;
        border-right: solid 1px white;
        /*width: 33.3333%;*/
    }

    .footer_banner .right {
        padding-left: 0px;
        padding-right: 0px;
        /*width: 33.3333%;*/
        border-left: solid 1px white;
    }

}
@media screen and (max-width: 1024px){


    .main_content .side-nav{
        /*margin-right:-16px !important;*/
    }
    .row_main_menu li {
        display: block;
        float: left;
        height: 62px;
        padding-top: 20px;
        padding-left: 22px;
        padding-right: 22px;
        border-right: 1px solid white;
    }
    .row_main_menu li.first-menu{
        margin-left: 5px;
    }

    .subscribe_box_footer{
        display:none !important;
    }
}


@media screen and (max-width: 768px){

    .main_content .side-nav li a {
        float: left;
        font-family: 'Conv_EurostileLTStd';
        color: white;
        padding-top: 16px !important;
        padding-left: 20px;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .back_to_top {
        display:none;
    }
    .footer_banner .left {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    .main_content .side-nav{
        padding-bottom: 0px;
        border-bottom: solid 2px #A7E3FB;
        margin-bottom: 0px;
    }
}
