/* 
    Document   : style
    Created on : Oct 8, 2013, 8:14:17 AM
    Author     : NgocHai
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'Calibri';
    src: url('font/calibri.eot');
    src: url('font/calibri.eot?#iefix') format('embedded-opentype'),
        url('font/calibri.woff') format('woff'),
        url('font/calibri.ttf') format('truetype'),
        url('font/calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'OpenSansLight';
    src: url('font/opensans-light.eot');
    src: url('font/opensans-light.eot?#iefix') format('embedded-opentype'),
        url('font/opensans-light.woff') format('woff'),
        url('font/opensans-light.ttf') format('truetype'),
        url('font/opensans-light.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('font/opensans-regular-webfont.eot');
    src: url('font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/opensans-regular-webfont.woff') format('woff'),
        url('font/opensans-regular-webfont.ttf') format('truetype'),
        url('font/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('font/opensans-semibold.eot');
    src: url('font/opensans-semibold.eot?#iefix') format('embedded-opentype'),
        url('font/opensans-semibold.woff') format('woff'),
        url('font/opensans-semibold.ttf') format('truetype'),
        url('font/opensans-semibold.svg#OpenSansRegular') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Giorgiosans';
    src: url('font/giorgiosans-bold.eot');
    src: url('font/giorgiosans-bold.eot?#iefix') format('embedded-opentype'),
        url('font/giorgiosans-bold.woff') format('woff'),
        url('font/giorgiosans-bold.ttf') format('truetype'),
        url('font/giorgiosans-bold.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html{
    margin:0px !important;
}
body{
    font-family: 'OpenSansRegular';
}

/*---- GENERAL ----------------------------------------- */

h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}
a{
    font-family: 'OpenSansRegular';
    color: #2b87ce;
}

hr {
    border: solid #afc1b8;
    border-width: 1px 0 0;
    clear: both;
    margin: 0;
    height: 0; }

.page-banner{
    position: relative;
}
h1{
    font-family: Calibri;
    color: #707774;
}
h2{
    font-family: Calibri;
    color: #707774;
}
h3{
    font-family: Calibri;
    color: #707774;
    text-transform:uppercase;
}
h4{
    font-family: 'OpenSansRegular';
    color: #707774;
}
h5{
    font-family: 'OpenSansRegular';
    color: #707774;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;

}
p{
    font-family: 'OpenSansRegular';
    font-size: 12px;
    color: #666;
    line-height: 1.5em;
}
.page-banner .page-decription{
    left: 8%;
    position: absolute;
    top: 15%;
}
.page-banner .page-decription p{
    color: #fff;
    font-family: Calibri;
    font-size: 60px;
    line-height: 1.1em;
}
.sidebar-left li{
    list-style: none;
    padding: 8px 0;
}
.sidebar-left li.divider{
    border-top: 1px solid #e5e5e5;
    height: 0;
    padding: 0;
    list-style: none;
}
.sidebar-left li a{
    color: #606060;
    font-size: 30px;
}
.sidebar-left li.active a, .sidebar-left li a:hover {
    font-family: 'OpenSansSemibold';
}
.boxmenu,.boxmenumobile{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #f8f7f7;
    font-size: 20px;
    color: #aeaeae;
    text-transform: uppercase;
    height: 60px;
    padding: 20px 0 0 20px;
    padding-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.icon-boxmenu,.icon-boxmenu-mobile{
    background:url('images/icon_boxmenu.png') no-repeat;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 13px;
    right: 5px;
    cursor: pointer;
}
.menu-box,.menu-box-mobile{
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:  5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background: #f8f7f7;
    position: absolute;
    right: 20px;
    top: 57px;
    z-index: 10;
    display: none;
}
.menu-box li,.menu-box-mobile li{
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px 0 5px 20px;
}
.menu-box li a, .menu-box-mobile li a{
    font-size: 20px;
    color: #aeaeae;
    text-transform: uppercase;
}
.menu-box li a:hover, .menu-box li.active a{
    color:#44C8E8;
}
.menu-mobile .item0,.sub-menu-content .item0{
    margin-left: 0 !important;
}
.sub-menu-content .item0,.menu-mobile .item1,#menu-menu-about .item1{
    display: none;
}
.sub-menu-content li{
    list-style: none;
}
.page-key-statistic h2{    
    font-size: 200px;
    color: #f8a21a;
    line-height: 0.6em;
    font-family: 'Giorgiosans';
    margin: 0;
}
.pR30{
    padding-right: 30px;    
}
.pL30{
    padding-left: 30px;    
}

.box-headine{
    padding: 15px 10px;
    position:relative;
}
.box-headine h2{
    font-size: 25px;
    color: #53d8fa;
    font-family: Calibri;
    text-transform:uppercase;
    margin:0px;
}
.sub-menu{
    background: url('images/icon_boxmenu.png') no-repeat;
    background-size:100%;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 13px;
    right: 11px;
    cursor: pointer;
}
.sub-menu-content{
    margin:0px;
}
.sub-menu-content li{
    line-height: 35px;
    padding: 0 10px;
    color:#999;
}
.sub-menu-content li a{
    color: #53d8fa;
    text-transform: uppercase;
	display:block;
	width:100%;
}
.sub-menu-content li.current-menu-item a{
    color:#999;
}


.sub-menu-content li.divider{
    display:block;
    width:100%;
    height:1px;
    background-color:#ddd;
}

.page-decription{
    background-color:#ddd;
    padding:20px;
}
.page-decription *{
    color:white;
    font-size:15px;
    font-weight:normal;
    margin:0px;
}

.main-content{
    padding:10px;
    padding-top:15px;
}

form select, form input{
    height: 35px;
    border: solid 1px #ccc;
    border-radius:5px;
    text-transform: uppercase;
}
form textarea{
    border: solid 1px #ccc;
    height:80px;
    border-radius:5px;
    text-transform: uppercase;
}
/*----END GENERAL ----------------------------------------- */ 


/*---- HEADER ----------------------------------------- */ 

.header{
    height: 100px;
}
.boxmenumobile{
    font-size: 14px;
    height: 45px;
    margin-right: 20px;
    padding: 16px 0 0 20px;
}
.icon-boxmenu-mobile{
    top: 6px;
}
.menu-box-mobile{
    top: 43px;
}
.menu-box-mobile li{
    margin: 10px 0;
}
.menu-box-mobile li a{
    font-size: 14px;
}


/*---- FOOTER ----------------------------------------- */ 
.footer-content{
    box-shadow: 0px 0px 28px #ccc inset;
    height: 36px;
    padding-top: 8px;
    text-align: center;
    border-top:solid 1px #ddd;
}
.footer-content p{
    color:#999;
    font-size:10px;
}
.footer .shadow{

}

/*---- ABOUT US ----------------------------------------- */ 

.page-about-content{
    margin: 20px 0;
}
.page-about-content h3{
    font-size: 30px;
}
.page-about-content p{
    font-size: 18px;
}
.page-about-team{

}
/**** End About Css *****/



/*---- ABOUT US - OUR TEAM  ----------------------------------------- */ 

.member{

}
.member .thumbnail{
    padding-top:30px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
}

.member .name{
    color: #00afd8;
    text-align: center;
    font-family: OpenSansRegular;
    font-size: 17px;
}
.member .position{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.member .detail{

}
.page-content-about-team .content-team-detail p{
    font-size: 18px;
}
.name-team{
    font-size: 18px;
}

/*---- ABOUT US - STATISTICS  ----------------------------------------- */ 
.facts-figures-headline{
    margin: 20px auto;
}
.facts-figures-headline span{
    display: block;
    width: 150px;
    height: inherit;
    position: absolute;
    padding-top: 12px;
    position:absolute;
}
.bg-left,.bg-center,.bg-right{
    height: 40px;
    display:inline-block;
}
.bg-left{
    background: url('images/bg_keyleft.png') no-repeat;
    background-size:100%;
    width: 25px;
}
.bg-right{
    background: url('images/bg_keyright.png') no-repeat;
    background-size:100%;
    width: 25px;
}
.bg-center{
    background: url('images/bg_keylap.png') repeat;
    color: #7a7a7a;
    font-weight: bold;
    font-size: 14px;
    width:150px;
}

.keystats h2{
    font-family:Giorgiosans;
    font-size:75px;
    color:#acd03d;
    line-height:20px;
}

.gender{
    padding-left: 30px;
    padding-right: 30px;
    padding-top:25px;
    padding-bottom:15px;
    background-color:whitesmoke;
}

.gender .info_left{
    margin-top: -10px;
    width:34%;
    float:left;
}

.gender .info_right{
    margin-top: -10px;
    width:66%;
    float:left;
}


.page-key-statistic h2{
    font-size: 150px;
}
.gender p{
    font-size: 16px;
}
.gender .image-gender{
    text-align: center;
}

.gender .image-gender img{
    height:80px;
}
.image-gender ul{
    height:90px;
}

.page-key-statistic h2{
    font-size: 107px;
    margin-right: 10px;
}
.gender p{
    font-size: 15px;
    text-align: left;
    padding-left: 14px;
    line-height:19px;
}


.school .info-left{
    float:left;
    width:25%;
}
.school .info-left h2{
    margin-bottom:22px;
    text-align: center;

}
.school .info-right{
    float:right;
    width:75%;
    padding-left:15px;
    padding-top:22px;
}
.school .info-right img{

}
.school .info-right h2{

}


.school{
    margin: 0;
    padding: 30px;
    padding-bottom:15px;
    background: #fff;
}
.school p{
    font-size: 11px;
    margin-top: 0px;
    text-transform: none;
    text-align: center;
}
.number-school h2{
    float: none;
    margin: 0;
    line-height: 1em;
    text-align: center;
}
.school .image-school{
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
}
.school .image-school img{
    margin-right: 5px;
    margin-bottom: 5px;
}

.scholarship{
    background-color: whitesmoke;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
}


.number-pass p {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5em;
    margin-left: 0px;
    margin-top: 15px;
}
.number-pass{
    background-position: center center;
    text-align: center;
    padding: 60px 0;
    height: 100%;
}
.student p{
    color:white;
}

.student h2{
    margin: auto;
    float: none;
    color: white;
    margin-top: 78px;
    font-size: 55px
}
.number-student{
}
.number-student .background{
    text-align: left;
    background: url("images/icon_student.png") no-repeat scroll center center #fff;
    height: 257px;
    background-size: 100%;
    width: 205px;
    margin: 0 auto;
    padding-left: 25px;
}
.number-student p{
    position: absolute;
    font-size: 14px;
    margin-left: 0;
    line-height: 16px;
    margin-top: 160px;
}
.number-student-mobile-h2{
    line-height: 1em !important;
    position: absolute;
    margin-top: 86px;
    color: #3dd0ba !important;
}

.student{
    background-color:whitesmoke;
}

.student .background{
    text-align: center;
    background: url("images/icon_studen_passed.png") no-repeat scroll center center;
    height: 257px;
    background-size: 100%;
    width: 205px;
    margin: 0 auto;
}
.student .background p{
    color:white !important;
    font-size:12px;
}

.toilet{
    padding:30px;
}
.toilet h2{
    color: #d03d74;
    float: left;
    font-size: 43px;
    margin-top: 8px;
    margin-bottom: 10px;
    padding-left: 4px;
}
.toilet p{
    font-size: 15px;
    float: left;
    width: 128px;
    padding-top: 8px;
    height: 20px;
    padding-left: 4px;
}

.toilet .left-info{
    float:left;
    width:25%;
}
.toilet .right-info{
    float:left !important;
    width:75%;
}
.toilet_map{
    width: 100%;
    margin-top: 30px;
    background: url("images/map_vn.png") no-repeat scroll right 30px #fff;
    padding-left: 30px;
    padding-right: 80px;
    background-size: 39%;
    height: 230px;
    background-color: whitesmoke;
    padding-top: 30px;
    margin: auto;
}
.toilet_map p{
    font-family: 'OpenSansRegular';
    font-size: 14px;
    padding-top: 55px;

}

/*---- ABOUT US - REPORTS  ----------------------------------------- */ 

.reports li{
    padding:20px;
}
.reports a{
    position:relative;
}
.reports p{
    position: absolute;
    top: -115px;
    width: 100%;
    color: white;
    font-family: OpenSansLight;
}

/*---- ABOUT US - SUPPORTERS  ----------------------------------------- */ 
.doitac{
	margin-top:30px;
}
.doitac li{
	text-align:center;
}

.doitac li a img{
	max-height:40px;
	width:auto;
}
/*---- NEWS & EVENTS  ----------------------------------------- */ 



.tab li{
    list-style: none;
    color: #999;
    font-size: 10px;
    font-family: 'OpenSansRegular';
    float: left;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    height: 100px;
    text-align: center;
    padding-top: 70px;
    text-transform: uppercase;
    opacity:0.5;
    width:33%;

}
.tab li.active{
    font-weight: bold;
    opacity:1;
    background-color:#ddd;
}
.tab li.new-all{
    background: url('images/news-tab-all.png') no-repeat center 10px;
    background-size:40%;
}
.tab li.new-photo{
    background: url('images/news-tab-photos.png') no-repeat center 10px;
    background-size:40%;
}
.tab li.new-only{
    background: url('images/news-tab-news.png') no-repeat center 10px;
    background-size:33%;
}


/*---- PROJECTS  ----------------------------------------- */ 

.project-headline{
    width:100%;
    height:80px;
    background:url(images/project_detail_header_bg.jpg) 0 0 repeat;
    padding:20px 0.65em;
}
.project-headline h3{
	color:#44c8e8;
}
.main-page-project {
    padding:10px 0.65em;
    padding-bottom:30px;
    background-color:#cee2d8;
}
.main-page-project .headline h3{
    font-family:Calibri;
    color:#00b0e0;
    font-weight:normal;
}

/**** End Key Statistics Css *****/
/**** Project Css *****/
.showproject{
    width: 80%;
}
.project .content .box-project {
    margin-bottom: 40px;
    margin-right: 40px;
}
.project .intro p{
    font-size: 18px;
}

.box-project-detail h3{
    font-size: 22px;
    color: #707774;
    margin-bottom:0px;
	display:none;
}
.box-project-detail h4{
    font-size: 20px;
    font-family: OpenSansLight;
    text-transform: uppercase;
    margin-top:-5px;
}
.box-project-detail h5{
    font-family: 'OpenSansRegular';
    color: #707774;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 12px;
}
.box-project-detail p{
    font-size: 13px;
}

.main-page-project hr{
    margin-bottom:20px;
}
/**** End Project Css *****/
/**** News Css *****/
.box-new h3 a{
    font-size: 22px;
}
.box-new p{
    font-size: 14px;
}
.title-feature-new p{
    font-size: 14px;
}
.news-detail h3 a{
    font-size: 30px;
}
/**** End News Css *****/
/**** Get Involve Css *****/
.btn_vol1,.btn_vol2{
    width: 305px;
}
.btn_vol1{
    right: 360px;
}
.btn_vol2{
    right: 20px;
}
.involve1{
    background:url(images/involved_bg.jpg) 0 0 repeat;
    box-shadow: 0px 0px 40px #ccc inset;

}
.involve1 h2, .involve2 h2,.involve3 h2{
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #397695;
}
.involve1 .intro p,.involve3 .intro p{
    font-size: 24px;
}
.involve2 h3{
    font-size: 80px;
}
.involve2 p,.involve3 p{
    font-size: 20px;
}
.btn_vol1_small,.btn_vol2_small{
    width: 226px;
    padding: 15px 0 0 15px;    
}
.btn_donate{
    width: 381px;
    right: 20px;
    bottom: 50px;
}
/**** End Get Involve Css *****/
.box-address p span{
    float: left;
}
.box-address p {
    color: #707774;
    float: left;
    font-size: 11px;
    width: 100%;
}
#slidearea #slider{
    width: auto !important;
}
#slideshow-wrapper{
    float: left;
    width: 100%;
    background: none !important;
    border: none !important;
}
#slideshow-wrapper,#slideshow-wrapper #fullsize{
    width: 100% !important;
}
#slideshow-wrapper #fullsize{
    /*    height: 300px !important;*/
}
#slideshow-wrapper #thumbnails{
    background: none !important;
}
#slideshow-wrapper #slideleft{
    background-color: transparent  !important;
}
#slideshow-wrapper #slideright{
    background-color: transparent  !important;
}
#slideshow-wrapper #slidearea{
    background: none !important;
}
@media screen and (max-width: 768px){
    .header-mobile{
        background: #fafafa;
        height: 50px;
        float: left;
        width: 100%;
    }

    .logo img{
        width: 145px;
        padding-top: 7px;
        padding-left: 5px;
    }
    .line{
        float: left;
        width: 100%;
        height: 3px;
        background: url('images/line.jpg');
        background-size:100%;
    }
    .mobile_menu_left{
        float: right;
        background: #f1f1f1;
        width: 55px;
        height: 50px;
        padding:10px;
        text-align: center;
    }
    .mobile_menu_left img{
        width: 24px;
        padding-top: 4px;
    }
    .language-mobile{
        float: right;
        width: auto;
        line-height: 75px;
        margin-right: 20px;
    }
    a.switch_language{
        color: #999;
        font-size: 10px;
        float: right;
        margin-top: 26px;
		display:none;	
    }
    .language-mobile a{
        font-size: 14px;
        color: #676767;
    }
    #menu_left{
        background: #fafafa;
        float: left;
        width: 100%;
        z-index: 1000;
    }
    #menu_left ul{
        margin:0px;
    }
    #menu_left li{
        list-style: none;
        padding: 10px 0;
        border-bottom: 1px solid #e5e5e5;
    }
    #menu_left li a{
        color: #23b9dd;
        text-transform: uppercase;
    }
    .banner-mobile p{
        position: absolute;
        width: 100%;
        bottom: 10px;
        text-align: center;
        left: 0;
        color: #fff;
        font-size: 16px;
        font-family: Calibri;
        font-weight: normal;
        margin-bottom: 7px;
        text-shadow: 1px 2px 1px #666;
    }
    .home-moble{
        float: left;
        width: 100%;
        background: url('img/bg_homemobile.jpg') repeat;
        padding: 15px 0 0px 0;
    }
    .content-home-box{
        float: left;
        width: 100%;
        margin-top: 21px;
        margin-bottom: 8px;
    }
    .content-home-box h3{
        font-size: 17px;
        color: #a8a8a8;
        text-align: left;
        float: left;
        width: auto;
        background: url('images/icon_next.png') no-repeat right 3px;
        padding-right: 20px;
    }
    .content-home-box:hover *{
        color:#23b9dd;
    }
    .content-home-box h3 a{
        color: #a8a8a8;
		font-family:Calibri;
    }
    .content-home-box h3 a:hover{
        color: #3cbcf8;
    }
    .content-home-box p{
        font-size: 13px;
        color: #a8a8a8;
        text-align: left;
        float: left;
        width: 100%;
        font-family: 'OpenSansLight';
        line-height: 18px;
    }
    .home-moble hr{
        border: solid #f2f3f3;
        border-width: 1px 0 0;
    }
    .link-home{
        float: left;
        width: 100%;
        background: #f8f8f8;
        padding: 10px 0;
        text-align: center;
    }
    .link-home a{
        color: #3cbcf8;
        font-size: 12px;
    }
    .link-involved{
        padding: 20px 0;
        background: #f2f2f2;
        color: #ccc;
        font-family: OpenSansLight;
        font-size: 15px;
        float: left;
        width: 100%;
    }
    .btn_volunteer{
        background: url('img/btn_homem.png') no-repeat;
        display:block;
        width:40px;
        height:30px;
    }
    .btn_vol1_small{
        background: url('img/btn_homem.png') no-repeat bottom right;
        height: 37px;
        color: #fff;
        font-size: 16px;
        text-align: left;
        font-family: OpenSansLight;
        width: 99px;
        display: inline-block;
        background-size: 100%;
        padding-top: 7px;
        padding-left: 13px;
    }
    .btn_vol2_small{
        background: url('img/btn_homem2.png') no-repeat bottom right;
        height: 37px;
        color: #fff;
        font-size: 16px;
        text-align: left;
        font-family: OpenSansLight;
        width: 99px;
        display: inline-block;
        background-size: 100%;
        padding-top: 7px;
        padding-left: 13px;

    }
    .btn_vol2_small:hover,.btn_vol1_small:hover{
        color: #fff;
    }

    /**** About Css *****/



    .des-about-mobile{
        background: #dddddd;
        padding: 30px 20px;
    }
    .des-about-mobile p{        
        color: #fff;
        font-size: 31px;
        font-family: Calibri;
        line-height: 1.2em;
        margin: 0;
    }
    .page-about-team{
    }
    .page-about-content{
        margin: 0;
    }
    .page-about-content h3{
        font-size: 24px;
    }
    .page-about-content p{
        font-family: 'OpenSansRegular';
        font-size: 19px
    }
    .title-page-boxmenu{
        padding: 10px 0;
        border-bottom: none;
    }
    .boxmenu,.boxmenumobile{
        border: none;
        background: #fff;
        font-size: 30px;
        color: #53d8fa;
        font-family: Calibri;
        height: auto;
    }
    .icon-boxmenu,.icon-boxmenu-mobile{
        top: 25px;
    }
    .menu-about{
        height: 80px;
    }
    .menu-box,.menu-box-mobile{
        right: 0;
        top: 160px;
    }
    /**** End About Css *****/
    /**** About Team Css *****/
    .thumbnail-team,.name-team{
        text-align: center;
    }
    .position-team{
        font-size: 18px;
        color: #919090;
        margin-top: 10px;
        text-align: center;
    }
    .page-content-about-team .content-team-detail p{
        font-size: 18px;
        color: #919090;
    }
    .page-content-about-team .content-team-detail{
        margin-top: 30px;
        padding-left: 0;
    }
    /**** End About Team Css *****/
    /**** Key Statistics Css *****/




    .phantram_toilet{
        font-size: 59px;
        line-height: 1em;
    }

    .student{
        margin: 0;
    }



    .main-page-key-statistic{
        margin-top: 55px;
    }
    .page-key-statistic{
        margin-top: 35px;
    }
    /**** End Key Statistics Css *****/
    /**** Career Css *****/
    .page-career{
        margin: 35px 0;
    }
    .sidebar-left li a{
        font-size: 20px;
    }
    .page-career h3,.page-career p{
        font-size: 18px;
    }
    /**** End Career Css *****/
    /**** Project Css *****/
    .main-page-project .content-home-box p{
        font-family: 'OpenSansLight';
		font-size:13px;
    }
    .title-project-detail{
        background: #f9f9fa;
        float: left;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .title-project-detail h3{
        color: #00b0e0;
        font-weight: bold;
        font-size: 30px;
        margin: 0;
    }
    .product-content-detail{
        padding-top: 0;
    }
    /**** End Project Css *****/
    /**** News Css *****/
    .main-page-new{
        background: #f9f9f9;
        padding: 40px 0.65em;;
    }
    .box-new h3 a{
        line-height: 1.2em;
        color:#2b87ce;
        font-family:OpenSansSemiBold;
        text-transform:none;
    }
    .box-new p{
        font-size: 13px;
        line-height: 18px;
        font-family: 'OpenSansRegular';
        padding-top: 10px;
        margin:0px;
    }

    .main-page-new  hr{
        margin-top:25px;
        margin-bottom:25px;
        border:solid 1px #ddd;
        height:0px;
        border-width:1px 0 0;
    }

    .date-published a{
        font-style: italic;
        margin-right: 10px;
    }
    .date-published{
        color: #b7b7b7 !important;
        margin: 0 !important;
    }
    .news-detail h3 a{
        font-size: 30px;
        line-height: 1.2em;
    }
    .post-date{
        font-size: 12px;
        color: #b7b7b7 !important;
    }

    .detail-page-new{
        background: #f9f9f9;
        padding: 0px 0.65em;;
    }
    .detail-page-new  hr{
        margin-top:25px;
        margin-bottom:25px;
        border:solid 1px #ddd;
        height:0px;
        border-width:1px 0 0;
    }

    .detail-page-new p{
        margin-top:-10px !important;
        margin-bottom:15px !important;
    }
    .detail-page-new .date-published a{
        font-style:normal;
        color:#999;
    }
    .other-new li{
        line-height:15px;
        padding-top:10px;
    }
    .other-new li.title{
        text-transform:uppercase;
        color:#999;
        margin-bottom:15px;
    }
    .other-new span{
        font-size:12px;	
        color:#999;
    }
    .other-new a{
        color:#2e96ed;
        font-size:12px;
        line-height:15px;

    }

    /**** End News Css *****/
    /**** Get Involve Css *****/

    .involve1 .intro p{
        font-size: 15px;
        text-align: left;
        color: #397695;
    }
    .involve1 .intro{
        padding: 40px 0;
    }
    .involve2 h3{
        font-family: 'Giorgiosans';
        font-size: 68px;
        margin-top: 30px;
        text-align: center;
    }
    .content-involved-mobile{
        margin-top: 20px;
    }
    .involve2 p{
        font-size: 18px;
    }
    .involve2{
        padding: 40px 0 0;
    }
    .involve3 {
        background:url(images/involved3_bg.jpg) 0 0 repeat;
        box-shadow: 0px 0px 40px #ccc inset;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .involve3 h2{
        font-size: 24px;
        margin: 0px;
        color: #878787;
        text-shadow: 1px 1px white;
    }
    .involve3 .intro p{
        font-size: 15px;
        text-align: left;
        margin:0px;
    }
    .involve3  a{
        color:#2eaeca;
    }
    .btn_mobile_vol1 {
        background: url('img/invol_m1.png') no-repeat bottom left;
        height: 55px;
        float: right;
        width: 140px;
        padding: 10px 0 0 10px;
        background-size: 100%;
    }

    .btn_mobile_vol2{
        background: url('img/invol_m2.png') no-repeat bottom left;
        height: 55px;
        float: left;
        width: 140px;
        padding: 10px 0 0 10px;
        background-size: 100%;
    }
    .btn_mobile_vol2 h3,.btn_mobile_vol1 h3{
        font-family: OpenSansLight;
        color: #fff;
        font-size: 20px;
        margin: 0;
        line-height: 1em;
        text-transform: none;

    }
    .btn_mobile_vol2 p,.btn_mobile_vol1 p{
        line-height: 1em;
        font-size: 12px;
        color: #fff;
        font-family: Calibri;
        margin: 0;
    }
    .involve0{
        background: #fff;
        padding: 50px 0;
        float: left;
        width: 100%;
    }
    .involve0 h2{
        font-size: 40px;
        color: #f8a21a;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin-top: 0;
    }
    .boder{
        padding: 0 10px;
        border: none;

    }
    .yourname,.address{
        margin: 0 0 1em !important;
        color: #c4c4c4 !important;
    }
    .pR30{
        padding-right: 10px;    
    }
    .pL30{
        padding-left: 10px;    
    }
    input.btn_submit_mobile{
        background: #5aafbe;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #a3d2d8;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        height: 45px;
        line-height: 45px;
        cursor: pointer;
        width: 100%;
        margin: 1em 0 0 0;
        font-size:20px;
    }
    .btn_donate{
        left: 0;
        bottom: 20px;
        padding: 0;
        line-height: 1em;
        width: 100%;
        background: none;
        height: auto;
    }
    .btn_donate h1{
        font-size: 48px;
        color: #47c5e6;
        background: #fff;
        opacity: 0.7;
        float: right;
        padding: 0 10px;
        margin-right: 20px;

    }

    .box-address{
        text-align: center;
    }
    .facebook-twitter{
        margin-bottom: 20px;
    }
    .main-page-contact h2{
        font-size: 40px;
        margin-bottom: 30px;
    }
	
	.donate-page input{
		text-transform:uppercase;
	}
	span.customSelect{
		color:#ccc;
	}
    /**** End Get Involve Css *****/
    .box-address p span{
        float: none;
    }
    .box-address p {
        color: #707774;
        float: none;
        font-size: 11px;
        width: 100%;
    }
    .box-address .left{
        width:50%;
        float:left;
        text-align:left;
    }
    .box-address .left img{
        float:left;
    }
    .box-address .left p{
        width:auto;
        padding-left:25px;
    }
    .box-address .right{
        width:50%;
        float:left;
        text-align:left;
    }
    .box-address .right img{
        float:left;
    }
    .box-address .right p{
        width:auto;
        padding-left:25px;
    }


    .donate-page{
        background:url(images/bg_lap.png) center 0 repeat;
        padding:20px 0.65em;
        box-shadow: 0px 0px 28px #ccc inset;

    }

    .banner-donate{
        position:relative;
    }


    .donate-page p{
        font-size: 14 px;
        text-align: left;
    }
    .donate-page strong{
        font-family:OpenSansSemibold;
    }
    .banner-donate h2{
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: url(images/bg_donate_title.png) 0 0 repeat;
        padding: 5px;
        color: #47c5e6;
    }

    .donate-page h2{
        color: #f8a21a;
        font-size: 34px;
        text-align: center;
    }

    .volunteer-page{
        padding:30px 0.65em;
        background:url(images/bg_donate2.jpg) 0 0 repeat;
        float: left;
        width: 100%;
    }
    .volunteer-page h2{
        color: #f8a21a;
        font-size: 34px;
        text-align: center;
    }


    .main-page-contact{
        padding: 30px 0.65em;
        background-color:whitesmoke;
        float: left;
        width: 100%;
    }
    .box-address h3{
        text-transform: none;
        font-size: 17px;
    }

    .main-page-contact .social{
        text-align:center;
        padding:30px;
    }
    .main-page-contact .social a{
        padding:5px;
        text-align:center;
    }
    /*Hai them css cho select*/
    select{
        border: 1px solid #EFEFEF;
        float: left;
        width: 100%;
    }
    span.customSelect {
        font-size:14px;
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #ccc;
        color:#c3c3c3;
        padding:5px 5px 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        text-transform: none;
        height: 35px;
        margin: 0 0 1em;
        width: 100% !important;
    }
    span.customSelect.changed {
        background-color: #f0dea4;
    }
    .customSelectInner {
        background:url(images/icon_select.png) #fff no-repeat center right;
        padding-top: 5px;
        width: 100% !important;
        text-transform: uppercase;
        padding-left: 5px;
    }
    .styled{
        width: 100% !important;
    }
    .customSelect.changed {
        border: 1px solid red;
    }

    .customSelectFocus {
        border: 1px solid red;
    }

    .customSelectOpen {
        border: 1px solid red;
    }
    option{

        padding: 5px 30px 0;
        text-transform: uppercase;
        color: #D9D9D9;
    }
    .youtube{
        float: left;
    }
	.class-slideshow-wrapper #slideleft{
		position:absolute;
		display:none;
	}
	.class-slideshow-wrapper #slideright{
	position:absolute;
	right:0px;
	display:none;
	}
	.class-slideshow-wrapper .slidearea{
		margin-left:0px !important;
	}
	ul.other-new{
		margin-bottom:0px;
		padding-bottom:20px;
	}
	div.wpcf7-validation-errors{
		border:none !important;
		font-size:12px;
	}
	span.wpcf7-not-valid-tip-no-ajax {
	margin-top: -10px;
	margin-bottom: 10px;
	}
	form.invalid .btn_submit_mobile{
		margin-bottom:30px;
	}
	form .btn_submit{
		background: #5aafbe;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		border: 1px solid #a3d2d8;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		height: 45px;
		line-height: 45px;
		cursor: pointer;
		width: 100%;
		margin: 1em 0 0 0;
		font-size: 20px;
	}
	.donate-page div.wpcf7{
		height:430px;
	}
	.customSelectInner{
		color:rgb(219, 215, 215);
	}
	.page-banner iframe{
		display:none;
	}
}
