/* 
    Document   : style
    Created on : Oct 8, 2013, 8:14:17 AM
    Author     : NgocHai
    Description:
        Purpose of the stylesheet follows.
*/
.news-list .tab li.active, .news-list .tab li:hover{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    opacity:1;
}
.news-list .tab li.new-all{
    background: url('../images/news-icon-all.png') no-repeat center 10px;
}
.news-list .tab li.new-photo{
    background: url('../images/news-icon-photovideo.png') no-repeat center 10px;
}
.news-list .tab li.new-only{
    background: url('../images/news-icon-newsonly.png') no-repeat center 10px;
}
.news-list .tab li{
    list-style: none;
    color: #2b87ce;
    font-size: 12px;
    font-family: 'OpenSansRegular';
    float: left;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    height: 110px;
    text-align: center;
    padding-top: 70px;
    text-transform: uppercase;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity:0.5;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */

}
.tab li.active{
    background-color: none !important;
}
.slidearea > div{
    width: auto !important;
}
.class-slideshow-wrapper{
    float: left;
    width: 100%;
    background: none !important;
    border: none !important;
}
.class-slideshow-wrapper,.class-slideshow-wrapper #fullsize{
    width: 100% !important;
}
.class-slideshow-wrapper #fullsize{
    /*    height: 300px !important;*/
}
.class-slideshow-wrapper #thumbnails{
    background: none !important;
}
.class-slideshow-wrapper #slideleft{
    background-color: transparent  !important;
}
.class-slideshow-wrapper #slideright{
    background-color: transparent  !important;
}
.class-slideshow-wrapper .slidearea{
    background: none !important;
}
.wp-pagenavi{
    padding: 0 !important;
}
.wp-pagenavi span.pages{
    display: none;
}
.header-mobile #lang_sel_list{
    height: auto;
    width: auto;
    float: left;
}
.header-mobile #lang_sel_list li{
    float: none;
    width: 95px;
}
.header-mobile #lang_sel_list a, .header-mobile #lang_sel_list a:visited{
    background: none !important;
    border: none;
    font-size: 0.8em !important;
    color: #676767;
    line-height: 1em !important;
}
.header-mobile #lang_sel_list a.lang_sel_sel{
    display: none;
}
.header-mobile #lang_sel_list a.lang_sel_other{
    margin-top: 18px;
    color: #2b87ce !important;
}